%Y-%m-%d %H:%M:%S {{{event_duration}}} {{{src_ip_addr}}} {{{http_status_code}}} {{{dvc_action}}} {{{http_response_body_bytes}}} {{{http_request_body_bytes}}} {{{http_request_method}}} {{{network_application_protocol}}} {{{url_hostname}}} {{{dst_port_number}}} {{{url_path}}} {{{url_query}}} {{{user_name}}} - {{{url_hostname}}} {{{dst_mime_type}}} {{{http_referer_original}}} "{{{http_user_agent_original}}}" {{{event_result}}} "{{{url_category}}}" - {{{dst_ip_addr}}}
