{{{version}}} {{{account_id}}} {{{interface}}} {{{ip_src}}} {{{ip_dst}}} {{{port_src}}} {{{port_dst}}} {{{protocol}}} {{{packets}}} {{{bytes}}} {{{starttime}}} {{{endtime}}} {{{action}}} {{{status}}}
