{
    "eventVersion": "1.05",
    "userIdentity": {
        "type": "Root",
        "principalId": "AIDACKCEVSQ6C2EXAMPLE",
        "arn": "arn:aws:iam::111122223333:root",
        "accountId": "111122223333",
        "accessKeyId": ""
    },
    "eventTime": "2020-10-13T21:47:13Z",
    "eventSource": "signin.amazonaws.com",
    "eventName": "PasswordUpdated",
    "awsRegion": "us-east-1",
    "sourceIPAddress": "192.0.2.0",
    "userAgent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:78.0) Gecko/20100101 Firefox/78.0",
    "requestParameters": null,
    "responseElements": {
        "PasswordUpdated": "Success"
    },
    "eventID": "EXAMPLEd-244c-4044-abbf-21c64EXAMPLE",
    "eventType": "AwsConsoleSignIn",
    "recipientAccountId": "111122223333"
}
