{{{timestamp}}}  [**] [{{{sig_gid}}}:{{{sig_id}}}:{{{sig_revision}}}] {{{message}}} [**] [Classification: {{{classification}}}] [Priority: {{{priority}}}] {{{{proto}}}} {{{sip}}}:{{{sport}}} -> {{{dip}}}:{{{dport}}}
