{"EventTime": "%Y-%m-%d %H:%M:%S", "Hostname": "{{{Hostname}}}", "Keywords": "{{{Keywords}}}", "EventType": "{{{EventType}}}", "SeverityValue": "{{{SeverityValue}}}", "Severity": "{{{Severity}}}", "EventID": 6013, "SourceName": "EventLog", "Version": "{{{Version}}}", "Task": "{{{Task}}}", "OpcodeValue": "{{{OpcodeValue}}}", "RecordNumber": "{{{RecordNumber}}}", "ProcessID": "{{{ProcessID}}}", "ThreadID": "{{{ThreadID}}}", "Channel": "{{{Channel}}}", "Message": "The system uptime is 22 seconds.", "EventReceivedTime": "%Y-%m-%d %H:%M:%S", "SourceModuleName": "{{{SourceModuleName}}}", "SourceModuleType": "{{{SourceModuleType}}}"}
