{"pps":{"agent":"{{{hostname}}}.proofpoint.com","cid":"{{{pps_cid}}}"},"ts":"{{{ts}}}","data":"{{{ts}}} {{{hostname}}} sendmail[{{{sendmail_pid}}}]: {{{sm_qid}}}: to={{{sm_to_0}}}, ctladdr={{{sm_ctladdr}}}, delay={{{sm_delay}}}, xdelay={{{sm_xdelay}}}, mailer={{{sm_mailer}}}, tls_verify={{{sm_tls_verify}}}, pri={{{sm_pri}}}, dsn={{{sm_dsn}}}, stat={{{sm_stat}}}","sm":{"tls":{"verify":"{{{sm_tls_verify}}}"},"stat":"{{{sm_stat}}}","qid":"{{{sm_qid}}}","dsn":"{{{sm_dsn}}}","mailer":"{{{sm_mailer}}}","to":["{{{sm_to_0}}}"],"ctladdr":"{{{sm_ctladdr}}}","delay":"{{{sm_delay}}}","xdelay":"{{{sm_xdelay}}}","pri":{{{sm_pri}}} },"id":"{{{id}}}"}
