<{{{syslog_facility_and_priority}}}>{{{syslog_timestamp}}} {{{hostname}}} CEF:0|Lancope|StealthWatch|{{{version}}}|Notification:{{{notification}}}|High Traffic|{{{valint}}}| cs1={{{cs1}}} cs1Label={{{cs1Label}}} cs2={{{cs2}}} cs2Label={{{cs2Label}}} cs3={{{cs3}}} cs3Label={{{cs3Label}}} cs4={{{cs4}}} cs4Label={{{cs4Label}}} cs5={{{cs5}}} cs5Label={{{cs5Label}}} cs6={{{cs6}}} cs6Label={{{cs6Label}}} destinationTranslatedAddress={{{destinationTranslatedAddress}}} destinationTranslatedPort={{{destinationTranslatedPort}}} deviceExternalId={{{deviceExternalId}}} dpt={{{dpt}}} dst={{{dst}}} dvc={{{dvc}}} dvchost={{{dvchost}}} dvcpid={{{dvcpid}}} end={{{end}}} externalId={{{externalId}}} msg={{{msg}}} proto={{{proto}}} sourceTranslatedAddress={{{sourceTranslatedAddress}}} spt={{{spt}}} src={{{src}}} start={{{start}}}
