{"@timestamp": "{{{@timestamp}}}", "@version": "{{{@version}}}", "host": "{{{host}}}", "insertId": "{{{insertId}}}", "labels": {"is": {"text": {"escaped": "{{{labels_is_text_escaped}}}"}}}, "logName": "{{{logName}}}", "receiveTimestamp": "{{{receiveTimestamp}}}", "resource": {"labels": {"instance": {"id": "{{{resource_labels_instance_id}}}"}, "project": {"id": "{{{resource_labels_project_id}}}"}, "zone": "{{{resource_labels_zone}}}"}, "type": "{{{resource_type}}}"}, "severity": "{{{severity}}}", "textPayload": "{{{textPayload}}}", "timestamp": "{{{timestamp}}}"}
