{{{FUTURE_USE}}},{{{Receive_Time}}},{{{Serial_Number}}},{{{Type}}},{{{Content/Threat_Type}}},{{{FUTURE_USE}}},{{{Generated_Time}}},{{{Virtual_System}}},{{{Event_ID}}},{{{Object}}},{{{FUTURE_USE}}},{{{FUTURE_USE}}},{{{Module}}},{{{Severity}}},{{{Description}}},{{{Sequence_Number}}},{{{Action_Flags}}},{{{Device_Group_Hierarchy_Level_1}}},{{{Device_Group_Hierarchy_Level_2}}},{{{Device_Group_Hierarchy_Level_3}}},{{{Device_Group_Hierarchy_Level_4}}},{{{Virtual_System_Name}}},{{{Device_Name}}}
