BlackBerry Protect Desktop: Event Type: {{{Event Type}}}, Event Name: executionfromexternaldrives, Device Name: {{{Device Name}}}, IP Address: ({{{IP Address}}}), Action: {{{Action}}}, Action Type: {{{Action Type}}}, File Path: {{{File Path}}}, SHA256: {{{SHA256}}}, Zone Names: {{{Zone Names}}}
