Event Type: OpticsCaeDnsEvent, Event Name: OpticsCaeDnsEvent, Device Name: {{{Device Name}}}, Zone Names: {{{Zon Names}}}, Event Id: {{{Event Id}}}, Severity: {{{Severity}}}, Description: {{{Description}}}, Instigating Process Name: {{{Instigating Process Name}}}, Instigating Process Owner: {{{Instigating Process Owner}}}, Instigating Process ImageFileSha256: {{{Instigating Process ImageFileSha256}}}, Target Domain Name: {{{Target Domain Name}}}, Resolved Address: {{{Resolved Address}}}, Resolved Address Count: {{{Resolved Address Count}}}, Device Id: {{{Device Id}}}
