Event Type: OpticsCaeFileEvent, Event Name: OpticsCaeFileEvent, Device Name: {{{Device Name}}}, Zone Names: {{{Zone Names}}}, Event Id: {{{Event Id}}}, Severity: {{{Severity}}}, Description: {{{Description}}}, Instigating Process Name: {{{Instigating Process Name}}}, Instigating Process Owner: {{{Instigating Process Owner}}}, Instigating Process ImageFileSha256: {{{Instigating Process ImageFileSha256}}}, Target File Path: {{{Target File Path}}}, Target File Owner: {{{Target File Owner}}}, Target File Sha256: {{{Target File Sha256}}}, Device Id: {{{Device Id}}}
