Event Type: Threat, Event Name: threat_found, Device Name: {{{Device Name}}}, IP Address: ({{{IP Address}}}), File Name: {{{File Name}}}, Path: {{{Path}}}, Drive Type: {{{Drive Type}}}, File Owner: {{{File Owner}}}, SHA256: {{{SHA256}}}, MD5: {{{MD5}}}, Status: {{{Status}}}, Cylance Score: {{{Cylance Score}}}, Found Date: {{{Found Data}}}, File Type: {{{File Type}}}, Is Running: {{{Is Running}}}, Auto Run: {{{Auto Run}}}, Detected By: {{{Detected By}}}, Zone Names: {{{Zone Names}}}, Is Malware: {{{Is Malware}}}, Is Unique to Cylance: {{{Is Unique to Cylance}}}, Threat Classification: {{{Threat Classification}}}
