{"@timestamp": "{{{@timestamp}}}", "@version": "{{{@version}}}", "host": "{{{host}}}", "insertId": "{{{insertId}}}", "labels": {"activity": {"type": {"name": "{{{labels_activity_type_name}}}"}}, "instance": {"id": "{{{labels_instance_id}}}"}, "is": {"completed": "{{{labels_is_completed}}}"}, "location": "{{{labels_location}}}"}, "logName": "{{{logName}}}", "receiveTimestamp": "{{{receiveTimestamp}}}", "resource": {"labels": {"instance": {"id": "{{{resource_labels_instance_id}}}"}, "project": {"id": "{{{resource_labels_project_id}}}"}, "zone": "{{{resource_labels_zone}}}"}, "type": "{{{resource_type}}}"}, "timestamp": "{{{timestamp}}}"}
