{"actor":{"email":"{{{actor_email}}}","profileId":"{{{actor_profileId}}}"},"etag":"{{{etag}}}","events":[{"name":"{{{events_name}}}","parameters":[{"name":"{{{parameters_name0}}}","value":"{{{parameters_value0}}}"},{"multiValue":["{{{parameters_multiValue_0}}}"],"name":"{{{parameters_name1}}}"},{"boolValue":{{{parameters_boolValue}}},"name":"{{{parameters_name2}}}"}],"type":"{{{parameters_type}}}"}],"id":{"applicationName":"{{{id_applicationName}}}","customerId":"{{{id_customerId}}}","time":"{{{id_time}}}","uniqueQualifier":"{{{id_uniqueQualifier}}}"},"ipAddress":"{{{ipAddress}}}","kind":"{{{kind}}}"}
