[%d/%b/%Y:%H:%M:%S %z] "{{{user}}}" {{{ip-src}}} {{{status}}} "{{{method}}} {{{url}}} {{{httpversion}}}" "{{{category}}}" "{{{risk}}}" "{{{mime-type}}}" {{{response-len}}} "{{{user-agent}}}" "{{{virus}}}" "{{{block}}}"
