{'EventTime': '%Y-%m-%d %H:%M:%S', 'Hostname': '{{{Hostname}}}', 'Keywords': '{{{Keywords}}}', 'EventType': '{{{EventType}}}', 'SeverityValue': '{{{SeverityValue}}}', 'Severity': '{{{Severity}}}', 'EventID': 90, 'SourceName': 'Microsoft-Windows-Provisioning-Diagnostics-Provider', 'ProviderGuid': '{{{ProviderGuid}}}', 'Version': '{{{Version}}}', 'Task': '{{{Task}}}', 'OpcodeValue': '{{{OpcodeValue}}}', 'RecordNumber': '{{{RecordNumber}}}', 'ProcessID': '{{{ProcessID}}}', 'ThreadID': '{{{ThreadID}}}', 'Channel': '{{{Channel}}}', 'Domain': '{{{Domain}}}', 'AccountName': '{{{AccountName}}}', 'UserID': '{{{UserID}}}', 'AccountType': '{{{AccountType}}}', 'Message': 'Settings detail.', 'Opcode': '{{{Opcode}}}', 'Message1': '{{{Message1}}}', 'Message2': '{{{Message2}}}', 'Message3': '{{{Message3}}}', 'EventReceivedTime': '%Y-%m-%d %H:%M:%S', 'SourceModuleName': '{{{SourceModuleName}}}', 'SourceModuleType': '{{{SourceModuleType}}}'}
