{"eventVersion":"{{{eventVersion}}}","userIdentity":{"type":"{{{userIdentity_type}}}","principalId":"{{{userIdentity_principalId}}}","accountId":"{{{userIdentity_accountId}}}","accessKeyId":"{{{userIdentity_accessKeyId}}}","userName":"{{{userIdentity_userName}}}"},"eventTime":"{{{eventTime}}}","eventSource":"{{{eventSource}}}","eventName":"{{{eventName}}}","awsRegion":"{{{awsRegion}}}","sourceIPAddress":"{{{sourceIPAddress}}","userAgent":"{{{userAgent}}}","requestParameters":{{{requestParameters}}},"responseElements":{"CheckMfa":"{{{responseElements_CheckMfa}}}"},"additionalEventData":{"MfaType":"{{{additionalEventData_MfaType}}}"},"eventID":"{{{eventID}}}","eventType":"{{{eventType}}}","recipientAccountId":"{{{recipientAccountId}}}"}
