{"eventVersion": "{{{eventVersion}}}", "userIdentity": {"type": "{{{userIdentity_type}}}", "principalId": "{{{userIdentity_principalId}}}", "arn": "{{{arn}}}", "accountId": "{{{userIdentity_accountId}}}", "userName": "{{{userIdentity_userName}}}"}, "eventTime": "{{{eventTime}}}", "eventSource": "{{{eventSource}}}", "eventName": "{{{eventName}}}", "awsRegion": "{{{awsRegion}}}", "sourceIPAddress": "{{{sourceIPAddress}}}", "userAgent": "{{{userAgent}}}", "requestParameters": {{{requestParameters}}}, "responseElements": {"ConsoleLogin": "{{{responseElements_ConsoleLogin}}}"}, "additionalEventData": {"LoginTo": "{{{additionalEventData_LoginTo}}}", "MobileVersion": "{{{additionalEventData_MobileVersion}}}", "MFAUsed": "{{{additionalEventData_MFAUsed}}}"}, "eventID": "{{{eventID}}}", "eventType": "{{{eventType}}}", "recipientAccountId": "{{{recipientAccountId}}}"}
