{{{message_id}}}: from=<{{{from}}}>, size={{{size}}}, class={{{class}}}, nrcpts={{{nrcpts}}}, msgid=<{{{msgid}}}>, proto={{{proto}}}, daemon={{{daemon}}}, tls_verify={{{tls_verify}}}, auth={{{auth}}}, relay={{{relay}}}
