{{{message_id}}}: to=<{{{to}}}>, delay={{{delay}}}, xdelay={{{xdelay}}}, mailer={{{mailer}}}, tls_verify={{{tls_verify}}}, pri={{{pri}}}, relay=[{{{relay1}}}] [{{{relay2}}}], dsn={{{dsn}}}, stat={{{stat}}}
