{"url": "{{{url}}}", "classification": "spam", "clickTime": "{{{clickTime}}}", "threatTime": "{{{threatTime}}}", "userAgent": "{{{userAgent}}}", "campaignId": {{{campaignId}}}, "clickIP": "{{{clickIP}}}", "sender": "{{{sender}}}", "recipient": "{{{recipient}}}", "senderIP": "{{{senderIP}}}", "GUID": "{{{GUID}}}", "threatID": "{{{threatID}}}", "threatURL": "https://threatinsight.proofpoint.com/{{{threatUrl_uuid}}}/threat/email/{{{threat}}}", "threatStatus": "{{{threatStatus}}}", "messageID": "{{{messageID}}}"}
