{"awsRegion": "{{{awsRegion}}}", "eventID": "{{{eventID}}}", "eventName": "{{{eventName}}}", "eventSource": "{{{eventSource}}}", "eventTime": "{{{eventTime}}}", "eventType": "{{{eventType}}}", "eventVersion": "{{{eventVersion}}}", "readOnly": "{{{readOnly}}}", "recipientAccountId": "{{{recipientAccountId}}}", "requestID": "{{{requestID}}}", "requestParameters": {"keyId": "{{{requestParameters_keyId}}}"}, "resources": {"0": {"ARN": "{{{resources_0_ARN}}}", "accountId": "{{{resources_0_accountId}}}", "type": "{{{resources_0_type}}}"}}, "responseElements": "{{{responseElements}}}", "sourceIPAddress": "{{{sourceIPAddress}}}", "userAgent": "{{{userAgent}}}", "userIdentity": {"accessKeyId": "{{{userIdentity_accessKeyId}}}", "accountId": "{{{userIdentity_accountId}}}", "arn": "{{{userIdentity_arn}}}", "principalId": "{{{userIdentity_principalId}}}", "type": "{{{userIdentity_type}}}", "userName": "{{{userIdentity_userName}}}"}}
