{"awsRegion": "{{{awsRegion}}}", "errorCode": "{{{errorCode}}}", "errorMessage": "{{{errorMessage}}}", "eventID": "{{{eventID}}}", "eventName": "{{{eventName}}}", "eventSource": "{{{eventSource}}}", "eventTime": "{{{eventTime}}}", "eventType": "{{{eventType}}}", "eventVersion": "{{{eventVersion}}}", "recipientAccountId": "{{{recipientAccountId}}}", "requestID": "{{{requestID}}}", "requestParameters": {"keyName": "{{{requestParameters_keyName}}}", "publicKeyMaterial": "{{{requestParameters_publicKeyMaterial}}}"}, "responseElements": "{{{responseElements}}}", "sourceIPAddress": "{{{sourceIPAddress}}}", "userAgent": "{{{userAgent}}}", "userIdentity": {"accessKeyId": "{{{userIdentity_accessKeyId}}}", "accountId": "{{{userIdentity_accountId}}}", "arn": "{{{userIdentity_arn}}}", "principalId": "{{{userIdentity_principalId}}}", "type": "{{{userIdentity_type}}}", "userName": "{{{userIdentity_userName}}}"}}
