{
      "userAgent": "console.amazonaws.com",
      "eventID": "22a0d9b1-deea-4d39-827b-2af7050ed3f3",
      "errorMessage": "The Password Policy with domain name 811596193553 cannot be found.",
      "userIdentity": {
        "type": "Root",
        "principalId": "811596193553",
        "arn": "arn:aws:iam::811596193553:root",
        "accountId": "811596193553",
        "accessKeyId": "ASIA79EXPHZ8SRL55OOE",
        "sessionContext": {
          "attributes": {
            "mfaAuthenticated": "false",
            "creationDate": "2017-02-12T19:57:05Z"
          }
        }
      },
      "eventType": "AwsApiCall",
      "errorCode": "NoSuchEntityException",
      "sourceIPAddress": "255.253.125.115",
      "eventName": "GetAccountPasswordPolicy",
      "eventSource": "iam.amazonaws.com",
      "recipientAccountId": "811596193553",
      "requestParameters": null,
      "awsRegion": "us-east-1",
      "requestID": "b833be53-f15d-11e6-8abe-9409ef6d52ab",
      "responseElements": null,
      "eventVersion": "1.02",
      "eventTime": "2017-02-12T19:59:10Z"
    }
    