{"AlertName":"{{{AlertName}}}","AlertType":"{{{AlertType}}}","ctc_version":"{{{ctc_version}}}","Description":"{{{Description}}}","DestinationIp":"{{{DestinationIp}}}","DestinationMAC":"{{{DestinationMAC}}}","DestinationPort":{{{DestinationPort}}},"event_name":"alert","EventHeurID":{{{EventHeurID}}},"MitreBetaIDs":{{{MitreBetaIDs}}},"SourceIp":"{{{SourceIp}}}","SourceMAC":"{{{SourceMAC}}}","SourcePort":{{{SourcePort}}},"TimeCreated":{{{TimeCreated}}} }
