{"pid_path": "{{{pid_path}}}", "ctc_version": "{{{ctc_version}}}", "machine_name": "{{{machine_name}}}", "event_version": {{{event_version}}}, "cmdline": "{{{cmdline}}}", "event_name": "external_notification_on_process", "pid": {{{pid}}}, "datetime": {{{datetime}}}, "os_version": "{{{os_version}}}"}
