{"cid": "{{{cid}}}", "count": {{{count}}}, "ctc": "{{{ctc}}}", "ev": "file_move", "ev_ver": {{{ev_ver}}}, "host": "{{{host}}}", "hwid": "{{{hwid}}}", "new_path": "{{{new_path}}}", "old_path": "{{{old_path}}}", "os": "{{{os}}}", "pid": {{{pid}}}, "pid_path": "{{{pid_path}}}", "product_version": "{{{product_version}}}"}
