{"cid": "{{{cid}}}", "count": {{{count}}}, "ctc": "{{{ctc}}}", "ev": "file_delete", "ev_ver": {{{ev_ver}}}, "host": "{{{host}}}", "hwid": "{{{hwid}}}", "os": "{{{os}}}", "path": "{{{path}}}", "pid": {{{pid}}}, "pid_path": "{{{pid_path}}}", "product_version": "{{{product_version}}}"}
