{"cid": "{{{cid}}}", "cmdline": "{{{cmdline}}}", "count": {{{count}}}, "ctc": "{{{ctc}}}", "ev": "process_create", "ev_ver": 1, "host": "{{{host}}}", "hwid": "{{{hwid}}}", "os": "{{{os}}}", "parent_path": "{{{parent_path}}}", "parent_pid": {{{parent_pid}}}, "path": "{{{path}}}", "pid": {{{pid}}}, "product_version": "{{{product_version}}}"}
