{"_uuid": "{{{_uuid}}}", "api_key": "{{{api_key}}}", "argc": {{{argc}}}, "cmd_line": "{{{cmd_line}}}", "ec_insert_date": "{{{ec_insert_date}}}", "event_name": "process_create_execve", "event_time": {{{event_time}}}, "event_version": "1.0", "gid": {{{gid}}}, "hostname": "{{{hostname}}}", "is64": {{{is64}}}, "lurker_id": "{{{lurker_id}}}", "machine_architecture": "{{{machine_architecture}}}", "origin_ip": "{{{origin_ip}}}", "os_type": "{{{os_type}}}", "os_version": "{{{os_version}}}", "parent_process_name": "{{{parent_process_name}}}", "parent_process_path": "{{{parent_process_path}}}", "pid": {{{pid}}}, "ppid": {{{ppid}}}, "process_name": "{{{process_name}}}", "process_path": "{{{process_path}}}", "receive_time": {{{receive_time}}}, "rgid": {{{rgid}}}, "ruid": {{{ruid}}}, "sensor_name": "{{{sensor_name}}}", "source_hwid": "{{{source_hwid}}}", "submit_time": {{{submit_time}}}, "uid": {{{uid}}}, "user_fqdn": "{{{user_fqdn}}}", "user_name": "{{{user_name}}}", "user_sid": "{{{user_sid}}}"}
