{"cid": "{{{cid}}}", "count": {{{count}}}, "ctc": "{{{ctc}}}", "ev": "reg_delete_key", "ev_ver": 1, "host": "{{{host}}}", "hwid": "{{{hwid}}}", "key_path": "{{{key_path}}}", "os": "{{{os}}}", "pid": {{{pid}}}, "product_version": "{{{product_version}}}"}
