{"cid": "{{{cid}}}", "count": {{{count}}}, "ctc": "{{{ctc}}}", "data": "{{{data}}}", "data_type": {{{data_type}}}, "ev": "reg_modify_value", "ev_ver": 1, "host": "{{{host}}}", "hwid": "{{{hwid}}}", "key_path": "{{{key_path}}}", "os": "{{{os}}}", "pid": {{{pid}}}, "product_version": "{{{product_version}}}", "value": "{{{value}}}"}
