{"pid_path": "{{{pid_path}}}", "ctc_version": "{{{ctc_version}}}", "machine_name": "{{{machine_name}}}", "event_version": 1, "name": "{{{name}}}", "event_name": "scheduled_task_create", "pid": {{{pid}}}, "datetime": {{{datetime}}}, "os_version": "{{{os_version}}}"}
