{"cid": "{{{cid}}}", "cmdline": "{{{cmdline}}}", "count": {{{count}}}, "ctc": "{{{ctc}}}", "ev": "service_added", "ev_ver": 1, "host": "{{{host}}}", "hwid": "{{{hwid}}}", "is_driver": {{{is_driver}}}, "name": "{{{name}}}", "os": "{{{os}}}", "product_version": "{{{product_version}}}", "service_path": "{{{service_path}}}"}
