{"cid": "{{{cid}}}", "count": {{{count}}}, "ctc": "{{{ctc}}}", "ev": "terminate_process", "ev_ver": 1, "host": "{{{host}}}", "hwid": "{{{hwid}}}", "os": "{{{os}}}", "pid": {{{pid}}}, "product_version": "{{{product_version}}}"}
