{"cid": "{{{cid}}}", "count": {{{count}}}, "ctc": "{{{ctc}}}", "ev": "user_account_settings_change", "ev_ver": 1, "host": "{{{host}}}", "hwid": "{{{hwid}}}", "operation": {{{operation}}}, "os": "{{{os}}}", "product_version": "{{{product_version}}}", "result": {{{result}}}, "user_name": "{{{user_name}}}"}
