{"source": "{{{source}}}", "opcode": "{{{opcode}}}", "category": "{{{category}}}", "ctc_version": "{{{ctc_version}}}", "machine_name": "{{{machine_name}}}", "event_version": 1, "event_name": "user_specific_logging", "datetime": {{{datetime}}}, "os_version": "{{{os_version}}}"}
