"{{{timestamp}}}","[{{{orig_id}}}]","{{{identity}}}","{{{identitytype}}}","{{{flow}}}","{{{protocol}}}","{{{packetsize}}}","{{{source_ip}}}","{{{source_port}}}","{{{dest_ip}}}","{{{dest_port}}}","{{{datacenter}}}","{{{ruleid}}}","{{{verdict}}}"
