"{{{timestamp}}}","{{{ADusername}}}","{{{ADusername}}},{{{ADsite}}},{{{Network}}}","{{{source_ip}}}","{{{resolver}}}","{{{action}}}","{{{query_type}}}","{{{response_code}}}","{{{domain}}}.","{{{categories}}}"
