"{{{timestamp}}}","{{{identities}}}","{{{internalip}}}","{{{externalip}}}","{{{dst-ip}}}","{{{content-type}}}","{{{verdict}}}","{{{url}}}","{{{referer}}}","{{{user-agent}}}","{{{statuscode}}}","{{{request-size}}}","{{{response-size}}}","{{{response-bodysize}}}","{{{sha}}}","{{{categories}}}","{{{avdetection}}}","{{{puas}}}","{{{amp-disposition}}}","{{{amp-malwarename}}}","{{{amp-score}}}","{{{identitytype}}}"
