%Y-%m-%d	%H:%M:%S	{{{edgelocation}}}	{{{responselen}}}	{{{ip-src}}}	{{{method}}}	{{{cloudfronthost}}}	{{{url}}}	{{{statuscode}}}	{{{referer}}}	{{{useragent}}}	{{{urlquery}}}	{{{cookies}}}	{{{edgeresulttype}}}	{{{edgerequestid}}}	{{{urlhost}}}	{{{protocol}}}	{{{requestlen}}}	{{{responsetime}}}	{{{xforwardedfor}}}	{{{sslprotocol}}}	{{{sslcipher}}}	{{{edgeresponseresulttype}}}
