{"source":{"folder_id": "{{{source_folder_id}}}", "folder_name": "{{{source_folder_name}}}", "user_id": "{{{source_user_id}}}", "user_name": "{{{source_user_name}}}", "item_type":"{{{item_type}}}","item_id":"{{{item_id}}}","item_name":"{{{item_name}}}","parent":{"type":"{{{parent_type}}}","name":"{{{parent_name}}}","id":"{{{parent_id}}}"},"owned_by":{"type":"{{{owned_by_type}}}","id":"{{{owned_by_id}}}","name":"{{{owned_by_name}}}","login":"{{{owned_by_login}}}"}},"created_by":{"type":"{{{created_by_type}}}","id":"{{{created_by_id}}}","name":"{{{created_by_name}}}","login":"{{{created_by_login}}}"},"action_by":null,"created_at":"{{{created_at}}}","event_id":"{{{box_event_id}}}","event_type":"DELETE","ip_address":"{{{ip_address}}}","type":"event","session_id":null,"additional_details":{"size":{{{additional_details_size}}},"version_id":"{{{additional_details_version_id}}}"}}
