{"source": {"type": "{{{source_type}}}", "id": "{{{source_id}}}", "name": "{{{source_name}}}", "login": "{{{source_login}}}"}, "created_by": {"type": "{{{created_by_type}}}", "id": "{{{created_by_id}}}", "name": "{{{created_by_name}}}", "login": "{{{created_by_login}}}"}, "action_by": null, "created_at": "{{{created_at}}}", "event_id": "{{{box_event_id}}}", "event_type": "LOGIN", "ip_address": "{{{ip_address}}}", "type": "event", "session_id": null, "additional_details": null}
