{"event": {"timestamp": "{{{event_timestamp}}}"}, "feed": {"id": "{{{feed_id}}}", "name": "{{{feed_name}}}", "update": {"time": "{{{feed_update_time}}}"}}, "scan": {"start": {"time": "{{{scan_start_time}}}"}}}
