acknowledged_at="{{{acknowledged_at}}}",role="{{{role}}}",id="{{{id}}}",status="{{{status}}}",expires_at="{{{expires_at}}}",item_name="{{{item_name}}}",item_etag="{{{item_etag}}}",item_id="{{{item_id}}}",item_type="{{{item_type}}}",item_sequence_id="{{{item_sequence_id}}}",modified_at="{{{modified_at}}}",created_at="{{{created_at}}}",accessible_by_name="{{{accessible_by_name}}}",accessible_by_id="{{{accessible_by_id}}}",accessible_by_type="{{{accessible_by_type}}}",accessible_by_login="{{{accessible_by_login}}}",type="{{{type}}}",created_by_name="{{{created_by_name}}}",created_by_id="{{{created_by_id}}}",created_by_type="{{{created_by_type}}}",created_by_login="{{{created_by_login}}}"
