trashed_at="{{{trashed_at}}}",etag="{{{etag}}}",version_number="{{{version_number}}}",id="{{{id}}}",size="{{{size}}}",content_modified_at="{{{content_modified_at}}}",comment_count="{{{comment_count}}}",modified_at="{{{modified_at}}}",file_version_id="{{{file_version_id}}}",file_version_type="{{{file_version_type}}}",file_version_sha1="{{{file_version_sha1}}}",created_at="{{{created_at}}}",name="{{{name}}}",content_created_at="{{{content_created_at}}}",owned_by_name="{{{owned_by_name}}}",owned_by_id="{{{owned_by_id}}}",owned_by_type="{{{owned_by_type}}}",owned_by_login="{{{owned_by_login}}}",type="{{{type}}}",description="{{{description}}}",purged_at="{{{purged_at}}}"
