max_upload_size="{{{max_upload_size}}}",can_see_managed_users="{{{can_see_managed_users}}}",address="{{{address}}}",name="{{{user_name}}}",timezone="{{{timezone}}}",created_at="{{{created_at}}}",modified_at="{{{modified_at}}}",phone="{{{phone}}}",status="{{{status}}}",space_used="{{{space_used}}}",login="{{{login}}}",space_amount="{{{space_amount}}}",job_title="{{{job_title}}}",id="{{{id}}}",avatar_url="{{{avatar_url}}}",enterprise_name="{{{enterprise_name}}}",enterprise_id="{{{enterprise_id}}}",enterprise_type="{{{enterprise_type}}}",is_exempt_from_login_verification="{{{is_exempt_from_login_verification}}}",my_tags="[{{{my_tags}}}]",is_external_collab_restricted="{{{is_external_collab_restricted}}}",is_exempt_from_device_limits="{{{is_exempt_from_device_limits}}}",role="{{{role}}}",type="{{{type}}}"
