{{{version}}}|{{{flowseq}}}|{{{headerdate}}}|{{{firstdate}}}|{{{lastdate}}}|{{{proto}}}|{{{srcip}}}|{{{srcport}}}|{{{dstip}}}|{{{dstport}}}|{{{iniface}}}|{{{outiface}}}|{{{packets}}}|{{{bytes}}}|{{{tcpflags}}}|##|nh={{{nexthop}}}|bnh={{{bnh}}}|min_pkt_lngth={{{min_pkt_lngth}}}|max_pkt_lngth={{{max_pkt_lngth}}}|fs={{{fs}}}|min_ttl={{{min_ttl}}}|max_ttl={{{max_ttl}}}|tos={{{tos}}}|d={{{d}}}|icmp_type={{{icmp_type}}}|sa={{{sa}}}|da={{{da}}}|sm={{{sm}}}|dm={{{dm}}}|replication_factor={{{replication_factor}}}|
