{"AccountType": "{{{AccountType}}}", "LastLoggedOnHost": "{{{LastLoggedOnHost}}}", "LocalAdminAccess": "{{{LocalAdminAccess}}}", "LogonInfo": "{{{LogonInfo}}}", "LogonTime": "{{{LogonTime}}}", "LogonType": "{{{LogonType}}}", "PasswordLastSet": "{{{PasswordLastSet}}}", "User": "{{{User}}}", "UserIsAdmin": "{{{UserIsAdmin}}}", "UserLogonFlags": {"decimal": "{{{UserLogonFlags_decimal}}}"}, "UserName": "{{{UserName}}}", "UserSid": {"readable": "{{{UserSid_readable}}}"}, "": {"time": "{{{_time}}}"}, "cid": "{{{cid}}}", "monthsincereset": "{{{monthsincereset}}}"}
