{"EventTime": "%Y-%m-%d %H:%M:%S", "Hostname": "{{{Hostname}}}", "Keywords": "{{{Keywords}}}", "EventType": "{{{EventType}}}", "SeverityValue": "{{{SeverityValue}}}", "Severity": "{{{Severity}}}", "EventID": 4634, "SourceName": "Microsoft-Windows-Security-Auditing", "ProviderGuid": "{{{ProviderGuid}}}", "Version": "{{{Version}}}", "Task": "{{{Task}}}", "OpcodeValue": "{{{OpcodeValue}}}", "RecordNumber": "{{{RecordNumber}}}", "ProcessID": "{{{ProcessID}}}", "ThreadID": "{{{ThreadID}}}", "Channel": "{{{Channel}}}", "Message": "An account was logged off.", "Category": "{{{Category}}}", "Opcode": "{{{Opcode}}}", "TargetUserSid": "{{{TargetUserSid}}}", "TargetUserName": "{{{TargetUserName}}}", "TargetDomainName": "{{{TargetDomainName}}}", "TargetLogonId": "{{{TargetLogonId}}}", "LogonType": "{{{LogonType}}}", "EventReceivedTime": "%Y-%m-%d %H:%M:%S", "SourceModuleName": "{{{SourceModuleName}}}", "SourceModuleType": "{{{SourceModuleType}}}"}
