{"EventTime": "%Y-%m-%d %H:%M:%S", "Hostname": "{{{Hostname}}}", "Keywords": "{{{Keywords}}}", "EventType": "{{{EventType}}}", "SeverityValue": "{{{SeverityValue}}}", "Severity": "{{{Severity}}}", "EventID": 326, "SourceName": "Microsoft-Windows-AppXDeployment", "ProviderGuid": "{{{ProviderGuid}}}", "Version": "{{{Version}}}", "Task": "{{{Task}}}", "OpcodeValue": "{{{OpcodeValue}}}", "RecordNumber": "{{{RecordNumber}}}", "ProcessID": "{{{ProcessID}}}", "ThreadID": "{{{ThreadID}}}", "Channel": "{{{Channel}}}", "Domain": "{{{Domain}}}", "AccountName": "{{{AccountName}}}", "UserID": "{{{UserID}}}", "AccountType": "{{{AccountType}}}", "Message": "Determining packages to be installed during logon for user: S-1-5-21-406643171-3527911121-3377784627-50", "Opcode": "{{{Opcode}}}", "UserSid": "{{{UserSid}}}", "IsSpecialUserProfile": "{{{IsSpecialUserProfile}}}", "EventReceivedTime": "%Y-%m-%d %H:%M:%S", "SourceModuleName": "{{{SourceModuleName}}}", "SourceModuleType": "{{{SourceModuleType}}}"}
