{"host": "{{{host}}}", "phone": "{{{phone}}}", "isotimestamp": "{{{isotimestamp}}}", "type": "{{{type}}}", "eventtype": "{{{telephony}}}", "timestamp": %s, "credits": {{{credits}}}, "context": "{{{context}}}"}
