{"SpendingAlarm":{"Type":"{{{AWS::CloudWatch::Alarm}}}","Properties":{"AlarmDescription":{"Fn::Join":["",["{{{AlarmDescription}}}",{"Ref":"{{{AlarmDescriptionRef}}}"}]]},"Namespace":"{{{Namespace}}}","MetricName":"{{{MetricName}}}","Dimensions":[{"Name":"{{{Dimensions_Name}}}","Value":"{{{Dimensions_Value}}}"}],"Statistic":"{{{Maximum}}}","Period":"{{{Period}}}","EvaluationPeriods":"{{{EvaluationPeriods}}}","Threshold":{"Ref":"{{{Threshold_Ref}}}"},"ComparisonOperator":"{{{Threshold_ComparisonOperator}}}","AlarmActions":[{"Ref":"{{{AlarmAction_Ref}}}"}],"InsufficientDataActions":[{"Ref":"{{{InsufficientDataActions_Ref}}}"}]}}}
