NetScreen device_id={{{device_id}}}  {{{notification}}}: start_time="{{{timestamp}}}" duration={{{duration}}} policy_id={{{policy_id}}} service={{{service}}} proto={{{proto}}} src zone={{{src_zone}}} dst zone={{{dst_zone}}} action={{{action}}} sent={{{sent}}} rcvd={{{rcvd}}} src={{{src}}} dst={{{dst}}} icmp type={{{icmptype}}} session_id={{{session_id}}}
