"%Y-%m-%d %H:%M:%S","{{{identities}}}","{{{internalip}}}","{{{externalip}}}","{{{dstip}}}","{{{contenttype}}}","{{{verdict}}}","{{{url}}}","{{{referer}}}","{{{useragent}}}","{{{statuscode}}}","{{{requestsize}}}","{{{responsesize}}}","{{{responsebodysize}}}","{{{sha}}}","{{{categories}}}","{{{avdetections}}}","{{{puas}}}","{{{ampdisposition}}}","{{{ampmalwarename}}}","{{{ampscore}}}","{{{identitytype}}}","{{{blockedcategories}}}"
