date={{{date}}},time={{{time}}},devname={{{devname}}},device_id={{{device_id}}},log_id={{{log_id}}},type={{{type}}},subtype={{{subtype}}},pri={{{pri}}},severity={{{severity}}},src={{{src}}},dst={{{dst}}},src_int="{{{src_int}}}",dst_int="{{{dst_int}}}",serial={{{serial}}},status={{{status}}},proto={{{proto}}},service={{{service}}},vd="{{{vd}}}",count={{{count}}},src_port={{{src_port}}},dst_port={{{dst_port}}},attack_id={{{attack_id}}},attack_name={{{attack_name}}},sensor="{{{sensor}}}",ref="{{{ref}}}",user="{{{user}}}",group="{{{group}}}",msg="{{{msg}}}"
