date={{{date}}},time={{{time}}},devname={{{devname}}},device_id={{{device_id}}},log_id={{{log_id}}},type={{{type}}},subtype={{{subtype}}},pri={{{pri}}},vd={{{vd}}},SN={{{SN}}},duration={{{duration}}},user={{{user}}},group={{{group}}},rule={{{rule}}},policyid={{{policyid}}},proto={{{proto}}},service={{{service}}},app_type={{{app_type}}},status={{{status}}},src={{{src}}},srcname={{{srcname}}},dst={{{dst}}},dstname={{{dstname}}},src_int="{{{src_int}}}",dst_int="{{{dst_int}}}",sent={{{sent}}},rcvd={{{rcvd}}},sent_pkt={{{sent_pkt}}},rcvd_pkt={{{rcvd_pkt}}},src_port={{{src_port}}},dst_port={{{dst_port}}},vpn="{{{vpn}}}",tran_ip={{{tran_ip}}},tran_port={{{tran_port}}},dir_disp={{{dir_disp}}},tran_disp={{{tran_disp}}},
