<{{{facility}}}>{{{timestamp}}} {{{device}}} {{{device}}}/FW_Activity: Info {{{device}}} type={{{type}}}|proto={{{proto}}}|srcIF={{{srcIF}}}|srcIP={{{srcIP}}}|srcPort={{{srcPort}}}|srcMAC={{{srcMAC}}}|dstIP={{{dstIP}}}|dstPort={{{dstPort}}}|dstService={{{dstService}}}|dstIF={{{dstIF}}}|rule={{{rule}}}|info={{{info}}}|srcNAT={{{srcNAT}}}|dstNAT={{{dstNAT}}}|duration={{{duration}}}|count={{{count}}}|receivedBytes={{{receivedBytes}}}|sentBytes={{{sentBytes}}}|receivedPackets={{{receivedPackets}}}|sentPackets={{{sentPackets}}}|user={{{user}}}|protocol={{{protocol}}}|application={{{application}}}|target={{{target}}}|content={{{content}}}|urlcat={{{urlcat}}}
