id={{{id}}} sn={{{sn}}} time="{{{time}}}" fw={{{fw}}} pri={{{pri}}} c={{{c}}} m=98 msg="Connection Opened" app={{{app}}} n={{{n}}} src={{{src-ip}}}:{{{src-port}}}:{{{src-interface}}} dst={{{dst-ip}}}:{{{dst-port}}}:{{{dst-interface}}} proto={{{proto}}} sent={{{sent}}} spkt={{{spkt}}}
