{
  "type": "endpoint.event.crossproc",
  "process_guid": "{{{process_guid}}}",
  "parent_guid": "{{{parent_guid}}}",
  "backend_timestamp": "{{{backend_timestamp}}}",
  "org_key": "{{{org_key}}}",
  "device_id": "{{{device_id}}}",
  "device_name": "{{{device_name}}}",
  "device_external_ip": "{{{device_external_ip}}}",
  "device_os": "{{{device_os}}}",
  "device_group": "{{{device_group}}}",
  "action": "ACTION_CREATE_REMOTE_THREAD",
  "schema": {{{schema}}},
  "event_description": "{{{event_description}}}",
  "alert_id": "{{{alert_id}}}",
  "event_id": "{{{event_id}}}",
  "device_timestamp": "{{{device_timestamp}}}",
  "process_terminated": {{{process_terminated}}},
  "process_reputation": "{{{process_reputation}}}",
  "parent_repuation": "{{{parent_repuation}}}",
  "process_pid": {{{process_pid}}},
  "parent_pid": {{{parent_pid}}},
  "process_publisher": {{{process_published}}},
  "process_path": "{{{process_path}}}",
  "parent_path": "{{{parent_path}}}",
  "process_hash": [
    "{{{process_hash_md5}}}",
    "{{{process_hash_sha256}}}"
  ],
  "parent_hash": {{{parent_hash}}},
  "process_cmdline": "{{{process_cmdline}}}",
  "parent_cmdline": "{{{parent_cmdline}}}",
  "process_username": "{{{process_username}}}",
  "sensor_action": "{{{sensor_action}}}",
  "event_origin": "{{{event_origin}}}",
  "crossproc_name": "{{{crossproc_name}}}",
  "crossproc_hash": [
    "{{{crossproc_hash_md5}}}",
    "{{{crossproc_hash_sha256}}}"
  ],
  "crossproc_publisher": [
    {
      "name": "{{{crossproc_publisher_name}}}",
      "state": "{{{crossproc_publisher_state}}}"
    }
  ],
  "crossproc_reputation": "{{{crossproc_reputation}}}",
  "target_cmdline": "{{{target_cmdline}}}"
}
