{"eventVersion":"{{{eventVersion}}}","userIdentity":{"accountId":"{{{userIdentity_accountId}}}","invokedBy":"{{{userIdentity_invokedBy}}}"},"eventTime":"{{{eventTime}}}","eventSource":"{{{eventSource}}}","eventName":"RotateKey","awsRegion":"{{{awsRegion}}}","sourceIPAddress":"{{{sourceIPAddress}}}","userAgent":"{{{userAgent}}}","requestParameters":{{{requestParameters}}},"responseElements":{{{responseElements}}},"eventID":"{{{eventID}}}","readOnly":{{{readOnly}}},"resources":[{"ARN":"{{{resources_ARN}}}","accountId":"{{{resources_accountId}}}","type":"{{{resources_type}}}"}],"eventType":"AwsServiceEvent","recipientAccountId":"{{{recipientAccountId}}}","serviceEventDetails":{"keyId":"{{{serviceEventDetails_keyId}}}"}}
