time={{{time}}} logver={{{logver}}} devname="{{{devname}}}" devid="{{{devid}}}" vd={{{vd}}} date={{{date}}} time={{{time}}} logid="{{{logid}}}" type={{{type}}} subtype={{{subtype}}} level={{{level}}} eventtime={{{eventtime}}} srcip={{{srcip}}} srcport={{{srcport}}} srcintf="{{{srcintf}}}" srcintfrole="{{{srcintfrole}}}" dstip={{{dstip}}} dstport={{{dstport}}} dstintf="{{{dstintf}}}" dstintfrole="{{{dstintfrole}}}" poluuid="{{{poluuid}}}" sessionid={{{sessionid}}} proto={{{proto}}} action="{{{action}}}" policyid={{{policyid}}} policytype="{{{policytype}}}" service={{{service}}} dstcountry="{{{dstcountry}}}" srccountry="{{{srccountry}}}" trandisp="{{{trandisp}}}" duration={{{duration}}} sentbyte={{{sentbyte}}} rcvdbyte={{{rcvdbyte}}} sentpkt={{{sentpkt}}} rcvdpkt={{{rcvdpkt}}} appcat="{{{appcat}}}" devtype="{{{devtype}}}" osname="{{{osname}}}" osversion="{{{osversion}}}" mastersrcmac="{{{mastersrcmac}}}" srcmac="{{{srcmac}}}" srcserver={{{srcserver}}}
