date=%Y-%m-%d,time=%H:%M:%S,devname={{{devname}}},devid={{{devid}}},logid={{{logid}}},type=traffic,subtype={{{subtype}}},level={{{level}}},vd={{{vd}}},srcip={{{srcip}}},srcport={{{srcport}}},srcintf=\"{{{srcintf}}}\",dstip={{{dstip}}},dstport={{{dstport}}},dstintf=\"{{{dstintf}}}\",poluuid={{{poluuid}}},sessionid={{{sessionid}}},proto={{{proto}}},action={{{action}}},policyid={{{policyid}}},policytype={{{policytype}}},dstcountry=\"{{{dstcountry}}}\",srccountry=\"{{{srccountry}}}\",trandisp={{{trandisp}}},transip={{{transip}}},transport={{{transport}}},service=\"{{{service}}}\",appid={{{appid}}},app=\"{{{app}}}\",appcat=\"{{{appcat}}}\",appact=\"{{{appact}}}\",apprisk={{{apprisk}}},applist=\"{{{applist}}}\",duration={{{duration}}},sentbyte={{{sentbyte}}},rcvdbyte={{{rcvdbyte}}},sentpkt={{{sentpkt}}},rcvdpkt={{{rcvdpkt}}}
