time={{{time}}} logver={{{logver}}} timestamp={{{eventtime}}} tz="{{{tz}}}" devname="{{{devname}}}" devid="{{{devid}}}" logid="{{{logid}}}" type="{{{type}}}" subtype="{{{subtype}}}" level="{{{level}}}" vd="{{{vd}}}" session_id={{{session_id}}} epoch={{{epoch}}} event_id={{{event_id}}} srcip={{{srcip}}} src_port={{{src_port}}} dstip={{{dstip}}} dst_port={{{dst_port}}} proto={{{proto}}} src_int="{{{src_int}}}" dst_int="{{{dst_int}}}" policy_id={{{policy_id}}} profile="{{{profile}}}" voip_proto="{{{voip_proto}}}" kind="{{{kind}}}" action="{{{action}}}" status="{{{status}}}" duration={{{duration}}} dir="{{{dir}}}" call_id="{{{call_id}}}" from="{{{from}}}" to="{{{to}}}"
