{{{timestamp_rfc3164}}} {{{hostname}}} sshd[{{{procid}}}]: Accepted publickey for {{{username}}} from {{{srcip}}} port {{{srcport}}} ssh2: RSA SHA256:{{{sha256}}}
{{{timestamp_rfc3164}}} {{{hostname}}} sshd[{{{procid}}}]: pam_unix(sshd:session): session opened for user {{{username}}} by (uid={{{uid}}})
{{{timestamp_rfc3164}}} {{{hostname}}} systemd-logind[{{{systemdprocid}}}]: New session {{{sessionid}}} of user {{{username}}}.
{{{timestamp_rfc3164}}} {{{hostname}}} systemd: pam_unix(systemd-user:session): session opened for user {{{username}}} by (uid={{{uid}}})

