{{{timestamp}}}	date={{{date}}} time={{{time}}} devname={{{devname}}} device_id={{{device_id}}} log_id={{{log_id}} type={{{type}}} subtype={{{subtype}}} pri={{{pri}}} desc="{{{desc}}}" msg="{{{msg}}}" action="{{{action}}}"
