{"host": "{{{host}}}", "isotimestamp": "{{{isotimestamp}}}", "description": "{\"Duration\": \"{{{description_duration}}}\", \"Sync Ref. Code\": \"{{{description_sync_ref_code}}}\", \"Users removed\": {{{description_users_removed}}}, \"Users modified\": {{{description_users_modified}}}, \"Users added\": {{{description_users_added}}}, \"Users seen\": {{{description_users_seen}}}}", "object": "{{{object}}}", "action": "{{{action}}}", "eventtype": "{{{eventtype}}}", "timestamp": {{{timestamp}}}, "username": "{{{username}}}"}
