{"action": "{{{action}}}", "description": "{\"primary_auth_method\": \"{{{description_primary_auth_method}}}\", \"email\": \"{{{description_email}}}\", \"error\": \"{{{description_error}}}\", \"device\": \"{{{description_device}}}\", \"factor\": \"{{{factor}}}\", \"ip_address\": \"{{{description_ip_address}}}\"}", "isotimestamp": "{{{isotimestamp}}}", "object": null, "timestamp": %s, "username": "{{{username}}}", "eventtype": "{{{eventtype}}}", "host": "{{{host}}}"}
