{"host": "{{{host}}}", "isotimestamp": "{{{isotimestamp}}}", "description": "{\"ip_address\": \"{{{description_ip_address}}}\", \"primary_auth_method\": \"{{{description_primary_auth_method}}}\", \"device\": \"{{{device}}}\", \"factor\": \"{{{factor}}}\"}", "object": null, "action": "{{{action}}}", "eventtype": "{{{eventtype}}}", "timestamp": %s, "username": "{{{username}}}"}
