{"host": "{{{host}}}", "isotimestamp": "{{{isotimestamp}}}", "description": "{"status": "{{{status}}}"}", "object": "{{{object}}}", "action": "{{{action}}}", "eventtype": "{{{eventtype}}}", "timestamp": {{{timestamp}}}, "username": "{{{username}}}"}
