{"host": "{{{host}}}", "isotimestamp": "{{{isotimestamp}}}", "description": "{\"users_added\": {{{description_users_added}}}, \"enroll_codes_added\": {{{description_enroll_codes_added}}}}", "object": null, "action": "{{{action}}}", "eventtype": "{{{eventtype}}}", "timestamp": {{{timestamp}}}, "username": "{{{username}}}"}
