{"md5": "{{{md5}}}","report_id": "{{{report_id}}}","ioc_type": "{{{ioc_type}}}","ioc_value":"{{{ioc_value}}}","ioc_attr": {{{ioc_attr}}},"feed_id":{{{feed_id}}},"hostname": "{{{hostname}}}","sensor_id": {{{sensor_id}}},"cb_version": {{{cb_version}}},"server_name": {{{server_name}}},"feed_name": "{{{feed_name}}}","event_timestamp": {{{event_timestamp}}} }
