{"Computer Name":"{{{tanium_computer_name}}}","IPv4 Address":"{{{tanium_computer_ip}}}","MAC Address":"{{{tanium_mac_address}}}","Name":"{{{tanium_app_name}}}","Version":"{{{tanium_app_version}}}","Operating System":"{{{tanium_os}}}","Count":"{{{tanium_count}}}"}
