{"awsRegion": "{{{awsRegion}}}", "eventID": "{{{eventID}}}", "eventName": "{{{eventName}}}", "eventSource": "{{{eventSource}}}", "eventTime": "{{{eventTime}}}", "eventType": "{{{eventType}}}", "eventVersion": "{{{eventVersion}}}", "recipientAccountId": "{{{recipientAccountId}}}", "requestParameters": "{{{requestParameters}}}", "responseElements": {"CheckMfa": "{{{responseElements_CheckMfa}}}"}, "sourceIPAddress": "{{{sourceIPAddress}}}", "userAgent": "{{{userAgent}}}", "userIdentity": {"accessKeyId": "{{{userIdentity_accessKeyId}}}", "accountId": "{{{userIdentity_accountId}}}", "principalId": "{{{userIdentity_principalId}}}", "type": "{{{userIdentity_type}}}", "userName": "{{{userIdentity_userName}}}"}}
