{"ApplicationDisplayName": "{{{ApplicationDisplayName}}}", "ApplicationId": "{{{ApplicationId}}}", "ClientIP": "{{{ClientIP}}}", "CorrelationId": "{{{CorrelationId}}}", "CreationTime": "{{{CreationTime}}}", "DoNotDistributeEvent": "{{{DoNotDistributeEvent}}}", "EventSource": "{{{EventSource}}}", "Id": "{{{Id}}}", "ImplicitShare": "{{{ImplicitShare}}}", "ItemType": "{{{ItemType}}}", "ListId": "{{{ListId}}}", "ListItemUniqueId": "{{{ListItemUniqueId}}}", "ObjectId": "{{{ObjectId}}}", "Operation": "{{{Operation}}}", "OrganizationId": "{{{OrganizationId}}}", "RecordType": "{{{RecordType}}}", "Site": "{{{Site}}}", "SiteUrl": "{{{SiteUrl}}}", "SourceFileExtension": "{{{SourceFileExtension}}}", "SourceFileName": "{{{SourceFileName}}}", "SourceRelativeUrl": "{{{SourceRelativeUrl}}}", "UserAgent": "{{{UserAgent}}}", "UserId": "{{{UserId}}}", "UserKey": "{{{UserKey}}}", "UserType": "{{{UserType}}}", "Version": "{{{Version}}}", "WebId": "{{{WebId}}}", "Workload": "{{{Workload}}}"}
