{"action": {"categories": ["{{{action_categories_0}}}"], "message": "{{{action_message}}}", "objectType": "{{{action_objectType}}}", "requestUri": "{{{action_requestUri}}}"}, "actors": [{"displayName": "{{{actors_0_displayName}}}", "id": "{{{actors_0_id}}}", "login": "{{{actors_0_login}}}", "objectType": "{{{actors_0_objectType}}}"}, {"displayName": "{{{actors_1_displayName}}}", "id": "{{{actors_1_id}}}", "ipAddress": "{{{actors_1_ipAddress}}}", "objectType": "{{{actors_1_objectType}}}"}], "eventId": "{{{eventId}}}", "published": "{{{published}}}", "requestId": "{{{requestId}}}", "sessionId": "{{{sessionId}}}", "targets": [{"displayName": "{{{targets_0_displayName}}}", "id": "{{{targets_0_id}}}", "login": "{{{targets_0_login}}}", "objectType": "{{{targets_0_objectType}}}"}, {"displayName": "{{{targets_1_displayName}}}", "id": "{{{targets_1_id}}}", "objectType": "{{{targets_1_objectType}}}"}]}
