{"": {"links": {"apps": {"href": "{{{_links_apps_href}}}"}, "logo": {"0": {"href": "{{{_links_logo_0_href}}}", "name": "{{{_links_logo_0_name}}}", "type": "{{{_links_logo_0_type}}}"}, "1": {"href": "{{{_links_logo_1_href}}}", "name": "{{{_links_logo_1_name}}}", "type": "{{{_links_logo_1_type}}}"}}, "users": {"href": "{{{_links_users_href}}}"}}}, "created": "{{{created}}}", "id": "{{{id}}}", "lastMembershipUpdated": "{{{lastMembershipUpdated}}}", "lastUpdated": "{{{lastUpdated}}}", "objectClass": {"0": "{{{objectClass_0}}}"}, "profile": {"description": "{{{profile_description}}}", "dn": "{{{profile_dn}}}", "externalId": "{{{profile_externalId}}}", "groupScope": "{{{profile_groupScope}}}", "groupType": "{{{profile_groupType}}}", "name": "{{{profile_name}}}", "objectSid": "{{{profile_objectSid}}}", "samAccountName": "{{{profile_samAccountName}}}", "windowsDomainQualifiedName": "{{{profile_windowsDomainQualifiedName}}}"}, "type": "{{{type}}}"}
