{"": {"links": {"deactivate": {"hints": {"allow": {"0": "{{{_links_deactivate_hints_allow_0}}}"}}, "href": "{{{_links_deactivate_href}}}"}, "rules": {"hints": {"allow": {"0": "{{{_links_rules_hints_allow_0}}}", "1": "{{{_links_rules_hints_allow_1}}}"}}, "href": "{{{_links_rules_href}}}"}, "self": {"hints": {"allow": {"0": "{{{_links_self_hints_allow_0}}}", "1": "{{{_links_self_hints_allow_1}}}", "2": "{{{_links_self_hints_allow_2}}}"}}, "href": "{{{_links_self_href}}}"}}}, "conditions": {"people": {"groups": {"include": {"0": "{{{conditions_people_groups_include_0}}}"}}}}, "created": "{{{created}}}", "id": "{{{id}}}", "lastUpdated": "{{{lastUpdated}}}", "name": "{{{name}}}", "priority": "{{{priority}}}", "status": "{{{status}}}", "system": "{{{system}}}", "type": "{{{type}}}"}
