{"active": "{{{active}}}", "connector": {"guid": "{{{connector_guid}}}", "version": "{{{connector_version}}}"}, "external": {"ip": "{{{external_ip}}}"}, "faults": "{{{faults}}}", "group": {"guid": "{{{group_guid}}}"}, "hostname": "{{{hostname}}}", "install": {"date": "{{{install_date}}}"}, "internal": {"ips": {"0": "{{{internal_ips_0}}}"}}, "isolation": {"available": "{{{isolation_available}}}", "status": "{{{isolation_status}}}"}, "last": {"seen": "{{{last_seen}}}"}, "links": {"computer": "{{{links_computer}}}", "group": "{{{links_group}}}", "trajectory": "{{{links_trajectory}}}"}, "network": {"addresses": {"0": {"ip": "{{{network_addresses_0_ip}}}", "mac": "{{{network_addresses_0_mac}}}"}}}, "operating": {"system": "{{{operating_system}}}"}, "policy": {"guid": "{{{policy_guid}}}", "name": "{{{policy_name}}}"}}
