{"application": "{{{application}}}", "computers": {"0": {"active": "{{{computers_0_active}}}", "connector": {"guid": "{{{computers_0_connector_guid}}}"}, "hostname": "{{{computers_0_hostname}}}", "links": {"computer": "{{{computers_0_links_computer}}}", "group": "{{{computers_0_links_group}}}", "trajectory": "{{{computers_0_links_trajectory}}}"}}, "total": {"count": "{{{computers_total_count}}}"}}, "cves": {"0": {"cvss": "{{{cves_0_cvss}}}", "id": "{{{cves_0_id}}}", "link": "{{{cves_0_link}}}"}, "1": {"cvss": "{{{cves_1_cvss}}}", "id": "{{{cves_1_id}}}", "link": "{{{cves_1_link}}}"}}, "file": {"filename": "{{{file_filename}}}", "identity": {"sha256": "{{{file_identity_sha256}}}"}}, "groups": {"0": {"description": "{{{groups_0_description}}}", "guid": "{{{groups_0_guid}}}", "name": "{{{groups_0_name}}}"}}, "latest": {"date": "{{{latest_date}}}", "timestamp": "{{{latest_timestamp}}}"}, "version": "{{{version}}}"}
