{"EventTime": "%Y-%m-%d %H:%M:%S", "Hostname": "{{{Hostname}}}", "Keywords": "{{{Keywords}}}", "EventType": "{{{EventType}}}", "SeverityValue": "{{{SeverityValue}}}", "Severity": "{{{Severity}}}", "EventID": 1005, "SourceName": "Microsoft-Windows-PushNotifications-Platform", "ProviderGuid": "{{{ProviderGuid}}}", "Version": "{{{Version}}}", "Task": "{{{Task}}}", "OpcodeValue": "{{{OpcodeValue}}}", "RecordNumber": "{{{RecordNumber}}}", "ProcessID": "{{{ProcessID}}}", "ThreadID": "{{{ThreadID}}}", "Channel": "{{{Channel}}}", "Domain": "{{{Domain}}}", "AccountName": "{{{AccountName}}}", "UserID": "{{{UserID}}}", "AccountType": "{{{AccountType}}}", "Message": "The Connection Provider status changed to Disconnecte", "Opcode": "{{{Opcode}}}", "Status": "{{{Status}}}", "EventReceivedTime": "%Y-%m-%d %H:%M:%S", "SourceModuleName": "{{{SourceModuleName}}}", "SourceModuleType": "{{{SourceModuleType}}}"}
