CEF:0|Fidelis Cybersecurity|{{{fidelis_customer}}}|9.3.3|data1|data2|1|act={{{fidelis_action}}} cs2={{{fidelis_linkback}}} cs2Label=linkback cn1={{{fidelis_compression}}} cn1Label=compression dst={{{fidelis_dst_ip}}} dpt={{{fidelis_dst_port}}} fname={{{fidelis_fname}}} cs4={{{fidelis_from}}} cs4Label=from cs6={{{fidelis_group}}} cs6Label=group cs3={{{fidelis_malware_name}}} cs3Label=malware_name cs5={{{fidelis_malware_type}}} cs5Label=malware_type fileHash={{{fidelis_file_hash}}} cs1={{{fidelis_policy}}} cs1Label=policy proto={{{fidelis_protocol}}} requestClientApplication={{{fidelis_request_client_application}}} requestMethod={{{fidelis_request_method}}} url={{{fidelis_url}}} dvc={{{fidelis_dvc_ip}}} dvchost={{{fidelis_dvc_host}}} sev={{{fidelis_severity}}} src={{{fidelis_src_ip}}} spt={{{fidelis_src_port}}} msg={{{fidelis_message}}} target={{{fidelis_target}}} duser={{{fidelis_dst_user}}} suser={{{fidelis_src_user}}} reason={{{fidelis_reason}}} cn2=-1 cn2Label={{{fidelis_vlan_id}}}
