{"Alert Id":"{{{alert_id}}}","Timestamp":"%Y-%m-%dT%H:%M:%S.000Z","Computer Name":"{{{computer_name}}}","Computer IP":"{{{computer_ip}}}","Intel Id":{{{intel_id}}},"Intel Type":"{{{intel_type}}}","Intel Name":"{{{intel_name}}}","Intel Labels":"{{{intel_labels}}}","Match Details":{"finding":{"system_info":{"bits":64,"build_number":"17763","os":"{{{os}}}","patch_level":"{{{patch_level}}}","platform":"{{{platform}}}"}},"match":{"contexts":[{"event":{},"process":{"uniqueEventId":"{{{unique_event_id}}}","uniqueProcessId":"{{{unique_process_id}}}"}},{"event":{},"process":{"uniqueEventId":"{{{unique_event_id}}}","uniqueProcessId":"{{{unique_process_id}}}"}},{"event":{},"process":{"uniqueEventId":"{{{unique_event_id}}}","uniqueProcessId":"{{{unique_process_id}}}"}}],"hash":{{{hash}}},"properties":{{{properties}}},"source":"signals","type":"process","version":1},"service_id":"{{{service_id}}}"}}
