{"compressed": {"size": "{{{compressed_size}}}"}, "event": {"timestamp": "{{{event_timestamp}}}"}, "file": {"path": "{{{file_path}}}"}, "md5": "{{{md5}}}", "node": {"id": "{{{node_id}}}"}, "size": "{{{size}}}"}
