{'EventTime': '%Y-%m-%d %H:%M:%S', 'Hostname': '{{{Hostname}}}', 'Keywords': '{{{Keywords}}}', 'EventType': '{{{EventType}}}', 'SeverityValue': '{{{SeverityValue}}}', 'Severity': '{{{Severity}}}', 'EventID': 800, 'SourceName': 'Microsoft-Windows-TaskScheduler', 'ProviderGuid': '{{{ProviderGuid}}}', 'Version': '{{{Version}}}', 'Task': '{{{Task}}}', 'OpcodeValue': '{{{OpcodeValue}}}', 'RecordNumber': '{{{RecordNumber}}}', 'ProcessID': '{{{ProcessID}}}', 'ThreadID': '{{{ThreadID}}}', 'Channel': '{{{Channel}}}', 'Domain': '{{{Domain}}}', 'AccountName': '{{{AccountName}}}', 'UserID': '{{{UserID}}}', 'AccountType': '{{{AccountType}}}', 'Message': 'Maintenance state changed to 3 (Last Run: \u200e3/\u200e16/\u200e2022 4:34 AM', 'Category': '{{{Category}}}', 'Opcode': '{{{Opcode}}}', 'hc_stateid': '{{{hc_stateid}}}', 'LastRunDateTime': '{{{LastRunDateTime}}}', 'EventReceivedTime': '%Y-%m-%d %H:%M:%S', 'SourceModuleName': '{{{SourceModuleName}}}', 'SourceModuleType': '{{{SourceModuleType}}}'}
