{"EVENT_ID": "{{{EVENT_ID}}}", "EVENT_TIMESTAMP": "{{{EVENT_TIMESTAMP}}}", "EVENT_TYPE": "LOGIN", "USER_NAME": "{{{USER_NAME}}}", "CLIENT_IP": "{{{CLIENT_IP}}}", "REPORTED_CLIENT_TYPE": "JDBC_DRIVER", "REPORTED_CLIENT_VERSION": "{{{REPORTED_CLIENT_VERSION}}}", "FIRST_AUTHENTICATION_FACTOR": "{{{FIRST_AUTHENTICATION_FACTOR}}}", "SECOND_AUTHENTICATION_FACTOR": "{{{SECOND_AUTHENTICATION_FACTOR}}}", "IS_SUCCESS": "{{{IS_SUCCESS}}}", "ERROR_CODE": "{{{ERROR_CODE}}}", "ERROR_MESSAGE": "{{{ERROR_MESSAGE}}}", "RELATED_EVENT_ID": "{{{RELATED_EVENT_ID}}}"}
