{"_corelight_skip_writers": [], "_path": "ntp", "_system_name": "{{{system_name}}}", "_write_ts": "{{{write_ts}}}", "ts": "{{{ts}}}", "uid": "{{{uid}}}", "id.orig_h": "{{{orig_h}}}", "id.orig_p": {{{orig_p}}}, "id.resp_h": "{{{resp_h}}}", "id.resp_p": {{{resp_p}}}, "version": {{{version}}}, "mode": {{{mode}}}, "stratum": {{{stratum}}}, "poll": {{{poll}}}, "precision": {{{precision}}}, "root_delay": {{{root_delay}}}, "root_disp": {{{root_disp}}}, "ref_id": "{{{ref_id}}}", "ref_time": "{{{ref_time}}}", "org_time": "{{{org_time}}}", "rec_time": "{{{rec_time}}}", "xmt_time": "{{{xmt_time}}}", "num_exts": {{{num_exts}}}}
