{'EventTime': '%Y-%m-%d %H:%M:%S', 'Hostname': '{{{Hostname}}}', 'Keywords': '{{{Keywords}}}', 'EventType': '{{{EventType}}}', 'SeverityValue': '{{{SeverityValue}}}', 'Severity': '{{{Severity}}}', 'EventID': 5116, 'SourceName': 'Microsoft-Windows-GroupPolicy', 'ProviderGuid': '{{{ProviderGuid}}}', 'Version': '{{{Version}}}', 'Task': '{{{Task}}}', 'OpcodeValue': '{{{OpcodeValue}}}', 'RecordNumber': '{{{RecordNumber}}}', 'ProcessID': '{{{ProcessID}}}', 'ThreadID': '{{{ThreadID}}}', 'Channel': '{{{Channel}}}', 'Domain': '{{{Domain}}}', 'AccountName': '{{{AccountName}}}', 'UserID': '{{{UserID}}}', 'AccountType': '{{{AccountType}}}', 'Message': 'Successfully completed the Group Policy Service initialization phas', 'Opcode': '{{{Opcode}}}', 'GpsvcInitTimeElapsedInMilliseconds': '{{{GpsvcInitTimeElapsedInMilliseconds}}}', 'EventReceivedTime': '%Y-%m-%d %H:%M:%S', 'SourceModuleName': '{{{SourceModuleName}}}', 'SourceModuleType': '{{{SourceModuleType}}}'}
