{"access_device": {"browser": null, "browser_version": null, "flash_version": null, "hostname": null, "ip": "{{{access_device_ip}}}", "java_version": null, "location": {"city": null, "country": null, "state": null}, "os": null, "os_version": null}, "alias": "unknown", "application": {"key": "{{{application_key}}}", "name": "{{{application_name}}}"}, "auth_device": {"ip": "{{{auth_device_ip}}}", "location": {"city": "{{{location_city}}}", "country": "{{{location_country}}}", "state": "{{{location_state}}}"}, "name": "{{{name}}}"}, "email": null, "event_type": "{{{event_type}}}", "factor": "{{{factor}}}", "isotimestamp": "{{{isotimestamp}}}", "ood_software": null, "reason": "{{{reason}}}", "result": "{{{success}}}", "timestamp": {{{timestamp_epoch}}}, "txid": "{{{txid}}}", "user": {"groups": {{{user_groups}}}, "key": "{{{user_key}}}", "name": "{{{username}}}"}, "eventtype": "{{{eventtype}}}", "host": "{{{host}}}"}
