key,default_value
timestamp,%Y-%m-%dT%H:%M:%S.000000Z
msg,Primary credentials rejected - No reply message in packet
username,eroux
auth_stage,Primary authentication
status,Reject
server_section,radius_server_1
server_section_ikey,PEPES0LDKERKFVC1NN42
hostname,example.com
log_logger_unpersistable,true
log_level_name,info
log_level___class_uuid__,5770385f-c22a-43e0-bf4c-06f5698ffbd9
log_namespace,duoauthproxy.lib.log
log_time,%s.0000000
access_device_ip,192.168.0.42
application_key,PEPES0LDKERKFVC1NN42
applicatoin_name,CORP VPN
auth_device_ip,10.0.0.1
location_city,San Francisco
location_country,USA
location_state,California
name,+18005550123
event_type,authentication
eventtype,authentication
factor,duo_push
isotimestamp,%Y-%m-%dT%H:%M:%S+00:00
reason,user_approved
result,success
timestamp_epoch,%s
txid,5770385f-c22a-43e0-bf4c-06f5698ffbd9
user_groups,["CloudOps Prod", "Library Developer"]
user_key,jeannemard
user_name,eroux
host,auth.example.com
