{"timestamp": "{{{timestamp}}}", "msg": "{{{msg}}}", "username": "{{{username}}}", "auth_stage": "{{{auth_stage}}}", "status": "{{{status}}}", "client_ip": null, "server_section": "{{{server_section}}}", "server_section_ikey": "{{{server_section_ikey}}}", "factor": null, "hostname": "{{{hostname}}}", "log_logger": {"unpersistable": {{{log_logger_unpersistable}}}}, "log_level": {"name": "{{{log_level_name}}}", "__class_uuid__": "{{{log_level___class_uuid__}}}"}, "log_namespace": "{{{log_namespace}}}", "log_source": null, "log_format": null, "log_time": {{{log_time}}}}
