{"EventTime": "%Y-%m-%d %H:%M:%S", "Hostname": "{{{Hostname}}}", "Keywords": "{{{Keywords}}}", "EventType": "{{{EventType}}}", "SeverityValue": "{{{SeverityValue}}}", "Severity": "{{{Severity}}}", "EventID": 1, "SourceName": "TransparentInstaller", "ProviderGuid": "{{{ProviderGuid}}}", "Version": "{{{Version}}}", "Task": "{{{Task}}}", "OpcodeValue": "{{{OpcodeValue}}}", "RecordNumber": "{{{RecordNumber}}}", "ProcessID": "{{{ProcessID}}}", "ThreadID": "{{{ThreadID}}}", "Channel": "{{{Channel}}}", "Domain": "{{{Domain}}}", "AccountName": "{{{AccountName}}}", "UserID": "{{{UserID}}}", "AccountType": "{{{AccountType}}}", "Message": "1329187538143947", "Opcode": "{{{Opcode}}}", "Timestamp100ns": "{{{Timestamp100ns}}}", "EventPid": "{{{EventPid}}}", "EventTid": "{{{EventTid}}}", "Payload": "{{{Payload}}}", "EventReceivedTime": "%Y-%m-%d %H:%M:%S", "SourceModuleName": "{{{SourceModuleName}}}", "SourceModuleType": "{{{SourceModuleType}}}"}
