{'EventTime': '%Y-%m-%d %H:%M:%S', 'Hostname': '{{{Hostname}}}', 'Keywords': '{{{Keywords}}}', 'EventType': '{{{EventType}}}', 'SeverityValue': '{{{SeverityValue}}}', 'Severity': '{{{Severity}}}', 'EventID': 10010, 'SourceName': 'Microsoft-Windows-DistributedCOM', 'ProviderGuid': '{{{ProviderGuid}}}', 'Version': '{{{Version}}}', 'Task': '{{{Task}}}', 'OpcodeValue': '{{{OpcodeValue}}}', 'RecordNumber': '{{{RecordNumber}}}', 'ActivityID': '{{{ActivityID}}}', 'ProcessID': '{{{ProcessID}}}', 'ThreadID': '{{{ThreadID}}}', 'Channel': '{{{Channel}}}', 'Domain': '{{{Domain}}}', 'AccountName': '{{{AccountName}}}', 'UserID': '{{{UserID}}}', 'AccountType': '{{{AccountType}}}', 'Message': 'The server {7022A3B3-D004-4F52-AF11-E9E987FEE25F} did not register with DCOM within the required timeou', 'Opcode': '{{{Opcode}}}', 'param1': '{{{param1}}}', 'EventReceivedTime': '%Y-%m-%d %H:%M:%S', 'SourceModuleName': '{{{SourceModuleName}}}', 'SourceModuleType': '{{{SourceModuleType}}}'}
