{"EventTime": "%Y-%m-%d %H:%M:%S", "Hostname": "{{{Hostname}}}", "Keywords": "{{{Keywords}}}", "EventType": "{{{EventType}}}", "SeverityValue": "{{{SeverityValue}}}", "Severity": "{{{Severity}}}", "EventID": 2, "SourceName": "Microsoft-Windows-Crypto-NCrypt", "ProviderGuid": "{{{ProviderGuid}}}", "Version": "{{{Version}}}", "Task": "{{{Task}}}", "OpcodeValue": "{{{OpcodeValue}}}", "RecordNumber": "{{{RecordNumber}}}", "ProcessID": "{{{ProcessID}}}", "ThreadID": "{{{ThreadID}}}", "Channel": "{{{Channel}}}", "Domain": "{{{Domain}}}", "AccountName": "{{{AccountName}}}", "UserID": "{{{UserID}}}", "AccountType": "{{{AccountType}}}", "Message": "Open Provider operation failed.", "Category": "{{{Category}}}", "Opcode": "{{{Opcode}}}", "ProviderName": "{{{ProviderName}}}", "Status": "{{{Status}}}", "ProcessName": "{{{ProcessName}}}", "EventReceivedTime": "%Y-%m-%d %H:%M:%S", "SourceModuleName": "{{{SourceModuleName}}}", "SourceModuleType": "{{{SourceModuleType}}}"}
