{'EventTime': '%Y-%m-%d %H:%M:%S', 'Hostname': '{{{Hostname}}}', 'Keywords': '{{{Keywords}}}', 'EventType': '{{{EventType}}}', 'SeverityValue': '{{{SeverityValue}}}', 'Severity': '{{{Severity}}}', 'EventID': 16384, 'SourceName': 'Microsoft-Windows-Security-SPP', 'ProviderGuid': '{{{ProviderGuid}}}', 'Version': '{{{Version}}}', 'Task': '{{{Task}}}', 'OpcodeValue': '{{{OpcodeValue}}}', 'RecordNumber': '{{{RecordNumber}}}', 'ProcessID': '{{{ProcessID}}}', 'ThreadID': '{{{ThreadID}}}', 'Channel': '{{{Channel}}}', 'Message': 'Successfully scheduled Software Protection service for re-start at 2022-03-17T03:05:21Z. Reason: RulesEngin', 'EventReceivedTime': '%Y-%m-%d %H:%M:%S', 'SourceModuleName': '{{{SourceModuleName}}}', 'SourceModuleType': '{{{SourceModuleType}}}'}
