"%Y-%m-%d %H:%M:%S","{{{type}}}","{{{username}}}","{{{remote_ip}}}","{{{session}}}","{{{url}}}","{{{user-agent}}}","{{{browser_time}}}","{{{transaction_number}}}","{{{transaction_processing_time}}}","{{{client_network_time}}}","{{{client_transaction}}}","{{{cpu_time}}}","{{{cpu_usage}}}","{{{business_rule_count}}}","{{{response_time}}}","{{{sql_count}}}","{{{sql_time}}}","{{{render_size}}}","{{{system_id}}}","{{{view_id}}}"
