{"event_simpleName": "AmsiRegistrationStatus", "ConfigStateHash": "{{{ConfigStateHash}}}", "AmsiStatusCode": "{{{AmsiStatusCode}}}", "aip": "{{{aip}}}", "ConfigBuild": "{{{ConfigBuild}}}", "AmsiRegistrationState": "{{{AmsiRegistrationState}}}", "event_platform": "{{{event}}}", "TotalCount": "{{{TotalCount}}}", "Entitlements": "{{{Entitlements}}}", "name": "AmsiRegistrationStatusV1", "id": "{{{id}}}", "ErrorCode": "{{{ErrorCode}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "aid": "{{{aid}}}", "timestamp": "{{{timestamp}}}", "cid": "{{{cid}}}"}
