{"ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "ContextProcessId": "{{{ContextProcessId}}}", "ContextThreadId": "{{{ContextThreadId}}}", "ContextTimeStamp": "{{{ContextTimeStamp}}}", "Entitlements": "{{{Entitlements}}}", "SHA256HashData": "{{{SHA256HashData}}}", "Size": "{{{Size}}}", "TargetFileName": "{{{TargetFileName}}}", "VnodeModificationType": "{{{VnodeModificationType}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event_platform": "{{{event_platform}}}", "event_simpleName": "{{{event_simpleName}}}", "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
