{"ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "ContextTimeStamp": "{{{ContextTimeStamp}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "Entitlements": "{{{Entitlements}}}", "PatternId": "{{{PatternId}}}", "TargetProcessId": "{{{TargetProcessId}}}", "WhitelistingSource": "{{{WhitelistingSource}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event": {"platform": "{{{event_platform}}}", "simpleName": "{{{event_simpleName}}}"}, "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
