{"AuthenticationId": "{{{AuthenticationId}}}", "ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "ContextProcessId": "{{{ContextProcessId}}}", "ContextThreadId": "{{{ContextThreadId}}}", "ContextTimeStamp": "{{{ContextTimeStamp}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "Entitlements": "{{{Entitlements}}}", "InterfaceGuid": "{{{InterfaceGuid}}}", "InterfaceVersion": "{{{InterfaceVersion}}}", "RpcClientProcessId": "{{{RpcClientProcessId}}}", "RpcClientThreadId": "{{{RpcClientThreadId}}}", "RpcNestingLevel": "{{{RpcNestingLevel}}}", "RpcOpNum": "{{{RpcOpNum}}}", "TargetFileName": "{{{TargetFileName}}}", "TokenType": "{{{TokenType}}}", "UserName": "{{{UserName}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event": {"platform": "{{{event_platform}}}", "simpleName": "{{{event_simpleName}}}"}, "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
