{"ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "ContextTimeStamp": "{{{ContextTimeStamp}}}", "DID": "{{{DID}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "Entitlements": "{{{Entitlements}}}", "PatternDisposition": "{{{PatternDisposition}}}", "PatternId": "{{{PatternId}}}", "TargetProcessId": "{{{TargetProcessId}}}", "TreeId": "{{{TreeId}}}", "TreeRoot": "{{{TreeRoot}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event": {"platform": "{{{event_platform}}}", "simpleName": "{{{event_simpleName}}}"}, "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
