{"event_simpleName": "CommandHistory", "CommandHistory": "{{{CommandHistory}}}", "FirstCommand": "{{{FirstCommand}}}", "CommandCountMax": "{{{CommandCountMax}}}", "ApplicationName": "{{{ApplicationName}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "LastDisplayed": "{{{LastDisplayed}}}", "aip": "{{{aip}}}", "LastAdded": "{{{LastAdded}}}", "ConfigBuild": "{{{ConfigBuild}}}", "event_platform": "{{{event_platform}}}", "TargetProcessId": "{{{TargetProcessId}}}", "Entitlements": "{{{Entitlements}}}", "name": "CommandHistoryV2", "id": "{{{id}}}", "CommandCount": "{{{CommandCount}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "aid": "{{{aid}}}", "timestamp": "{{{timestamp}}}", "cid": "{{{cid}}}"}
