{"ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "ConfigurationDescriptorAttributes": "{{{ConfigurationDescriptorAttributes}}}", "ConfigurationDescriptorMaxPowerDraw": "{{{ConfigurationDescriptorMaxPowerDraw}}}", "ConfigurationDescriptorNumInterfaces": "{{{ConfigurationDescriptorNumInterfaces}}}", "ConfigurationDescriptorValue": "{{{ConfigurationDescriptorValue}}}", "DeviceDescriptorSetHash": "{{{DeviceDescriptorSetHash}}}", "DeviceDescriptorUniqueIdentifier": "{{{DeviceDescriptorUniqueIdentifier}}}", "DeviceTimeStamp": "{{{DeviceTimeStamp}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "Entitlements": "{{{Entitlements}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event_platform": "{{{event_platform}}}", "event_simpleName": "{{{event_simpleName}}}", "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
