{"ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "DeviceDescriptorSetHash": "{{{DeviceDescriptorSetHash}}}", "DeviceDescriptorUniqueIdentifier": "{{{DeviceDescriptorUniqueIdentifier}}}", "DeviceProtocol": "{{{DeviceProtocol}}}", "DeviceTimeStamp": "{{{DeviceTimeStamp}}}", "DeviceUsbClass": "{{{DeviceUsbClass}}}", "DeviceUsbSubclass": "{{{DeviceUsbSubclass}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "Entitlements": "{{{Entitlements}}}", "InterfaceDescriptorAlternateSetting": "{{{InterfaceDescriptorAlternateSetting}}}", "InterfaceDescriptorNumEndpoints": "{{{InterfaceDescriptorNumEndpoints}}}", "InterfaceDescriptorNumber": "{{{InterfaceDescriptorNumber}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event_platform": "{{{event_platform}}}", "event_simpleName": "{{{event_simpleName}}}", "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
