{"ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "DeviceDescriptorSetHash": "{{{DeviceDescriptorSetHash}}}", "DeviceInstanceId": "{{{DeviceInstanceId}}}", "DeviceManufacturer": "{{{DeviceManufacturer}}}", "DeviceProduct": "{{{DeviceProduct}}}", "DeviceProductId": "{{{DeviceProductId}}}", "DeviceSerialNumber": "{{{DeviceSerialNumber}}}", "DeviceTimeStamp": "{{{DeviceTimeStamp}}}", "DeviceVendorId": "{{{DeviceVendorId}}}", "DeviceVersion": "{{{DeviceVersion}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "Entitlements": "{{{Entitlements}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event": {"platform": "{{{event_platform}}}", "simpleName": "{{{event_simpleName}}}"}, "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
