{"ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "DeviceDescriptorSetHash": "{{{DeviceDescriptorSetHash}}}", "DeviceDescriptorUniqueIdentifier": "{{{DeviceDescriptorUniqueIdentifier}}}", "DeviceTimeStamp": "{{{DeviceTimeStamp}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "EndpointDescriptorAddress": "{{{EndpointDescriptorAddress}}}", "EndpointDescriptorAttributes": "{{{EndpointDescriptorAttributes}}}", "EndpointDescriptorInterval": "{{{EndpointDescriptorInterval}}}", "EndpointDescriptorMaxPacketSize": "{{{EndpointDescriptorMaxPacketSize}}}", "Entitlements": "{{{Entitlements}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event": {"platform": "{{{event_platform}}}", "simpleName": "{{{event_simpleName}}}"}, "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
