{"event_simpleName": "DetectionExcluded", "ContextTimeStamp": "{{{ContextTimeStamp}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "aip": "{{{aip}}}", "BoundingLimitCount": "{{{BoundingLimitCount}}}", "ConfigBuild": "{{{ConfigBuild}}}", "event_platform": "{{{event_platform}}}", "CommandLine": "{{{CommandLine}}}", "TargetProcessId": "{{{TargetProcessId}}}", "PatternId": "{{{PatternId}}}", "ImageFileName": "{{{ImageFileName}}}", "ExclusionType": "{{{ExclusionType}}}", "Entitlements": "{{{Entitlements}}}", "name": "DetectionExcludedV2", "ExclusionSource": "{{{ExclusionSource}}}", "id": "{{{id}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "aid": "{{{aid}}}", "timestamp": "{{{timestamp}}}", "cid": "{{{cid}}}"}
