{"ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "ContextProcessId": "{{{ContextProcessId}}}", "ContextThreadId": "{{{ContextThreadId}}}", "ContextTimeStamp": "{{{ContextTimeStamp}}}", "Entitlements": "{{{Entitlements}}}", "Flags": "{{{Flags}}}", "GID": "{{{GID}}}", "TargetDirectoryName": "{{{TargetDirectoryName}}}", "TargetFileName": "{{{TargetFileName}}}", "UID": "{{{UID}}}", "UnixMode": "{{{UnixMode}}}", "VnodeType": "{{{VnodeType}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event": {"platform": "{{{event_platform}}}", "simpleName": "{{{event_simpleName}}}"}, "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
