{"event_simpleName": "DllInjection", "TargetThreadId": "{{{TargetThreadId}}}", "RawProcessId": "{{{RawProcessId}}}", "ThreadStartAddress": "{{{ThreadStartAddress}}}", "InjectedThreadFlag": "{{{InjectedThreadFlag}}}", "ContextTimeStamp": "{{{ContextTimeStamp}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "ContextProcessId": "{{{ContextProcessId}}}", "ContextThreadId": "{{{ContextThreadId}}}", "aip": "{{{aip}}}", "ThreadStartContext": "{{{ThreadStartContext}}}", "ConfigBuild": "{{{ConfigBuild}}}", "event_platform": "{{{event_platform}}}", "TargetProcessId": "{{{TargetProcessId}}}", "TreeId": "{{{TreeId}}}", "Entitlements": "{{{Entitlements}}}", "name": "DllInjectionV1", "RawThreadId": "{{{RawThreadId}}}", "id": "{{{id}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "aid": "{{{aid}}}", "timestamp": "{{{timestamp}}}", "cid": "{{{cid}}}", "InjectedDll": "{{{InjectedDll}}}"}
