{"ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "Entitlements": "{{{Entitlements}}}", "ErrorStatus": "{{{ErrorStatus}}}", "Facility": "{{{Facility}}}", "File": "{{{File}}}", "Line": "{{{Line}}}", "Parameter1": "{{{Parameter1}}}", "Parameter2": "{{{Parameter2}}}", "Parameter3": "{{{Parameter3}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event_platform": "{{{event_platform}}}", "event_simpleName": "{{{event_simpleName}}}", "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
