{"ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "Entitlements": "{{{Entitlements}}}", "ErrorCode": "{{{ErrorCode}}}", "ErrorLocation": "{{{ErrorLocation}}}", "ErrorReason": "{{{ErrorReason}}}", "ErrorSource": "{{{ErrorSource}}}", "Parameter64": {"1": "{{{Parameter64_1}}}"}, "ParameterSizedBuffer": {"1": "{{{ParameterSizedBuffer_1}}}"}, "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event": {"platform": "{{{event_platform}}}", "simpleName": "{{{event_simpleName}}}"}, "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
