{"ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "ContextTimeStamp": "{{{ContextTimeStamp}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "Entitlements": "{{{Entitlements}}}", "FalconServiceComponent": "{{{FalconServiceComponent}}}", "FalconServiceServletErrors": "{{{FalconServiceServletErrors}}}", "FalconServiceServletStarts": "{{{FalconServiceServletStarts}}}", "FalconServiceState": "{{{FalconServiceState}}}", "RawProcessId": "{{{RawProcessId}}}", "Status": "{{{Status}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event": {"platform": "{{{event_platform}}}", "simpleName": "{{{event_simpleName}}}"}, "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
