{"AuthenticationId": "{{{AuthenticationId}}}", "ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "ContextProcessId": "{{{ContextProcessId}}}", "ContextTimeStamp": "{{{ContextTimeStamp}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "Entitlements": "{{{Entitlements}}}", "FirewallRule": "{{{FirewallRule}}}", "FirewallRuleId": "{{{FirewallRuleId}}}", "InterfaceGuid": "{{{InterfaceGuid}}}", "InterfaceVersion": "{{{InterfaceVersion}}}", "RpcClientProcessId": "{{{RpcClientProcessId}}}", "RpcClientThreadId": "{{{RpcClientThreadId}}}", "RpcNestingLevel": "{{{RpcNestingLevel}}}", "RpcOpNum": "{{{RpcOpNum}}}", "TokenType": "{{{TokenType}}}", "UserName": "{{{UserName}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event_platform": "{{{event_platform}}}", "event_simpleName": "{{{event_simpleName}}}", "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
