{"BootTimeFunctionalityLevel": "{{{BootTimeFunctionalityLevel}}}", "ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "CurrentFunctionalityLevel": "{{{CurrentFunctionalityLevel}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "Entitlements": "{{{Entitlements}}}", "FirmwareAnalysisEclConsumerInterfaceVersion": "{{{FirmwareAnalysisEclConsumerInterfaceVersion}}}", "FirmwareAnalysisEclControlInterfaceVersion": "{{{FirmwareAnalysisEclControlInterfaceVersion}}}", "PciAttachmentState": "{{{PciAttachmentState}}}", "ReasonOfFunctionalityLevel": "{{{ReasonOfFunctionalityLevel}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event_platform": "{{{event_platform}}}", "event_simpleName": "{{{event_simpleName}}}", "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
