{"AuthenticationId": "{{{AuthenticationId}}}", "AuthenticationUuid": "{{{AuthenticationUuid}}}", "AuthenticationUuidAsString": "{{{AuthenticationUuidAsString}}}", "ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "Entitlements": "{{{Entitlements}}}", "GID": "{{{GID}}}", "UserPrincipal": "{{{UserPrincipal}}}", "UserSid": "{{{UserSid}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event_platform": "{{{event_platform}}}", "event_simpleName": "{{{event_simpleName}}}", "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
