{"ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "ContextProcessId": "{{{ContextProcessId}}}", "ContextThreadId": "{{{ContextThreadId}}}", "ContextTimeStamp": "{{{ContextTimeStamp}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "Entitlements": "{{{Entitlements}}}", "ImageFileName": "{{{ImageFileName}}}", "MD5HashData": "{{{MD5HashData}}}", "MappedFromUserMode": "{{{MappedFromUserMode}}}", "ModuleCharacteristics": "{{{ModuleCharacteristics}}}", "OriginalEventTimeStamp": "{{{OriginalEventTimeStamp}}}", "PrimaryModule": "{{{PrimaryModule}}}", "SHA1HashData": "{{{SHA1HashData}}}", "SHA256HashData": "{{{SHA256HashData}}}", "TargetProcessId": "{{{TargetProcessId}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event": {"platform": "{{{event_platform}}}", "simpleName": "{{{event_simpleName}}}"}, "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
