{"ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "ContextProcessId": "{{{ContextProcessId}}}", "ContextThreadId": "{{{ContextThreadId}}}", "ContextTimeStamp": "{{{ContextTimeStamp}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "Entitlements": "{{{Entitlements}}}", "InjectedThreadFlag": "{{{InjectedThreadFlag}}}", "RawProcessId": "{{{RawProcessId}}}", "RawThreadId": "{{{RawThreadId}}}", "SourceThreadStartAddress": "{{{SourceThreadStartAddress}}}", "TargetProcessId": "{{{TargetProcessId}}}", "TargetThreadId": "{{{TargetThreadId}}}", "ThreadStartAddress": "{{{ThreadStartAddress}}}", "ThreadStartContext": "{{{ThreadStartContext}}}", "UserThread": "{{{UserThread}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event": {"platform": "{{{event_platform}}}", "simpleName": "{{{event_simpleName}}}"}, "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
