{"ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "CreationTimeStamp": "{{{CreationTimeStamp}}}", "Entitlements": "{{{Entitlements}}}", "InterfaceAlias": "{{{InterfaceAlias}}}", "InterfaceIndex": "{{{InterfaceIndex}}}", "InterfaceType": "{{{InterfaceType}}}", "LocalAddressIP4": "{{{LocalAddressIP4}}}", "PhysicalAddress": "{{{PhysicalAddress}}}", "PhysicalAddressLength": "{{{PhysicalAddressLength}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event_platform": "{{{event_platform}}}", "event_simpleName": "{{{event_simpleName}}}", "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
