{"ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "Entitlements": "{{{Entitlements}}}", "InterfaceIndex": "{{{InterfaceIndex}}}", "LocalAddressIP4": "{{{LocalAddressIP4}}}", "NetLuidIndex": "{{{NetLuidIndex}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event_platform": "{{{event_platform}}}", "event_simpleName": "{{{event_simpleName}}}", "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
