{"ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "ContextProcessId": "{{{ContextProcessId}}}", "ContextThreadId": "{{{ContextThreadId}}}", "ContextTimeStamp": "{{{ContextTimeStamp}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "Entitlements": "{{{Entitlements}}}", "ServiceDependOnService": "{{{ServiceDependOnService}}}", "ServiceDescription": "{{{ServiceDescription}}}", "ServiceDisplayName": "{{{ServiceDisplayName}}}", "ServiceErrorControl": "{{{ServiceErrorControl}}}", "ServiceGroup": "{{{ServiceGroup}}}", "ServiceImagePath": "{{{ServiceImagePath}}}", "ServiceSecurity": "{{{ServiceSecurity}}}", "ServiceStart": "{{{ServiceStart}}}", "ServiceType": "{{{ServiceType}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event_platform": "{{{event_platform}}}", "event_simpleName": "{{{event_simpleName}}}", "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
