{"ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "ConnectionDirection": "{{{ConnectionDirection}}}", "ConnectionFlags": "{{{ConnectionFlags}}}", "ContextProcessId": "{{{ContextProcessId}}}", "ContextTimeStamp": "{{{ContextTimeStamp}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "Entitlements": "{{{Entitlements}}}", "InContext": "{{{InContext}}}", "LocalAddressIP4": "{{{LocalAddressIP4}}}", "LocalPort": "{{{LocalPort}}}", "Protocol": "{{{Protocol}}}", "RemoteAddressIP4": "{{{RemoteAddressIP4}}}", "RemotePort": "{{{RemotePort}}}", "TreeId": "{{{TreeId}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event": {"platform": "{{{event_platform}}}", "simpleName": "{{{event_simpleName}}}"}, "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
