{"LocalAddressIP4": "{{{LocalAddressIP4}}}", "event_simpleName": "NetworkReceiveAcceptIP4", "ContextTimeStamp": "{{{ContextTimeStamp}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "ConnectionFlags": "{{{ConnectionFlags}}}", "ContextProcessId": "{{{ContextProcessId}}}", "RemotePort": "{{{RemotePort}}}", "aip": "{{{aip}}}", "ConfigBuild": "{{{ConfigBuild}}}", "event_platform": "{{{event_platform}}}", "LocalPort": "{{{LocalPort}}}", "Entitlements": "{{{Entitlements}}}", "name": "NetworkReceiveAcceptIP4V5", "id": "{{{id}}}", "Protocol": "{{{Protocol}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "aid": "{{{aid}}}", "RemoteAddressIP4": "{{{RemoteAddressIP4}}}", "ConnectionDirection": "{{{ConnectionDirection}}}", "InContext": "{{{InContext}}}", "timestamp": "{{{timestamp}}}", "cid": "{{{cid}}}"}
