{"ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "ConnectionDirection": "{{{ConnectionDirection}}}", "ConnectionFlags": "{{{ConnectionFlags}}}", "ContextProcessId": "{{{ContextProcessId}}}", "ContextTimeStamp": "{{{ContextTimeStamp}}}", "Entitlements": "{{{Entitlements}}}", "InContext": "{{{InContext}}}", "LocalAddressIP6": "{{{LocalAddressIP6}}}", "LocalPort": "{{{LocalPort}}}", "Protocol": "{{{Protocol}}}", "RemoteAddressIP6": "{{{RemoteAddressIP6}}}", "RemotePort": "{{{RemotePort}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event_platform": "{{{event_platform}}}", "event_simpleName": "{{{event_simpleName}}}", "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
