{"AgentVersion": "{{{AgentVersion}}}", "BuildNumber": "{{{BuildNumber}}}", "BuildType": "{{{BuildType}}}", "CheckedBuild": "{{{CheckedBuild}}}", "ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "Entitlements": "{{{Entitlements}}}", "MajorVersion": "{{{MajorVersion}}}", "MinorVersion": "{{{MinorVersion}}}", "PlatformId": "{{{PlatformId}}}", "PointerSize": "{{{PointerSize}}}", "ProductSku": "{{{ProductSku}}}", "ProductType": "{{{ProductType}}}", "RFMState": "{{{RFMState}}}", "ServicePackMajor": "{{{ServicePackMajor}}}", "ServicePackMinor": "{{{ServicePackMinor}}}", "SubBuildNumber": "{{{SubBuildNumber}}}", "SuiteMask": "{{{SuiteMask}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event": {"platform": "{{{event_platform}}}", "simpleName": "{{{event_simpleName}}}"}, "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
