{"ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "ContextProcessId": "{{{ContextProcessId}}}", "ContextThreadId": "{{{ContextThreadId}}}", "ContextTimeStamp": "{{{ContextTimeStamp}}}", "DeviceId": "{{{DeviceId}}}", "Entitlements": "{{{Entitlements}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event_platform": "{{{event_platform}}}", "event_simpleName": "{{{event_simpleName}}}", "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
