{"ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "ContextProcessId": "{{{ContextProcessId}}}", "ContextThreadId": "{{{ContextThreadId}}}", "ContextTimeStamp": "{{{ContextTimeStamp}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "Entitlements": "{{{Entitlements}}}", "Parameter64": {"1": "{{{Parameter64_1}}}", "2": "{{{Parameter64_2}}}", "3": "{{{Parameter64_3}}}"}, "ScriptControlErrorCode": "{{{ScriptControlErrorCode}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event": {"platform": "{{{event_platform}}}", "simpleName": "{{{event_simpleName}}}"}, "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
