{"event_simpleName": "SensitiveWmiQuery", "UserName": "{{{UserName}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "ContextProcessId": "{{{ContextProcessId}}}", "aip": "{{{aip}}}", "ConfigBuild": "{{{ConfigBuild}}}", "event_platform": "{{{event_platform}}}", "WmiQuery": "{{{WmiQuery}}}", "ClientComputerName": "{{{ClientComputerName}}}", "Entitlements": "{{{Entitlements}}}", "name": "SensitiveWmiQueryV1", "id": "{{{id}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "aid": "{{{aid}}}", "WmiNamespaceName": "{{{WmiNamespaceName}}}", "timestamp": "{{{timestamp}}}", "cid": "{{{cid}}}"}
