{"ConfigBuild": "{{{ConfigBuild}}}", "ConfigIDBase": "{{{ConfigIDBase}}}", "ConfigIDBuild": "{{{ConfigIDBuild}}}", "ConfigIDPlatform": "{{{ConfigIDPlatform}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "ConfigurationVersion": "{{{ConfigurationVersion}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "Entitlements": "{{{Entitlements}}}", "NetworkContainmentState": "{{{NetworkContainmentState}}}", "ProvisionState": "{{{ProvisionState}}}", "SensorStateBitMap": "{{{SensorStateBitMap}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event_platform": "{{{event_platform}}}", "event_simpleName": "{{{event_simpleName}}}", "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
