{"ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "ContextProcessId": "{{{ContextProcessId}}}", "ContextTimeStamp": "{{{ContextTimeStamp}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "Entitlements": "{{{Entitlements}}}", "EtwRawProcessId": "{{{EtwRawProcessId}}}", "EtwRawThreadId": "{{{EtwRawThreadId}}}", "EventMax": "{{{EventMax}}}", "EventMin": "{{{EventMin}}}", "Flags": "{{{Flags}}}", "RawProcessId": "{{{RawProcessId}}}", "RawThreadId": "{{{RawThreadId}}}", "SourceProcessId": "{{{SourceProcessId}}}", "SourceThreadId": "{{{SourceThreadId}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event_platform": "{{{event_platform}}}", "event_simpleName": "{{{event_simpleName}}}", "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
