{"ClientComputerName": "{{{ClientComputerName}}}", "ConfigBuild": "{{{ConfigBuild}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "ContextProcessId": "{{{ContextProcessId}}}", "ContextThreadId": "{{{ContextThreadId}}}", "ContextTimeStamp": "{{{ContextTimeStamp}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "Entitlements": "{{{Entitlements}}}", "EtwRawProcessId": "{{{EtwRawProcessId}}}", "EtwRawThreadId": "{{{EtwRawThreadId}}}", "LogonDomain": "{{{LogonDomain}}}", "LogonType": "{{{LogonType}}}", "RemoteAddressIP4": "{{{RemoteAddressIP4}}}", "Status": "{{{Status}}}", "SubStatus": "{{{SubStatus}}}", "UserName": "{{{UserName}}}", "aid": "{{{aid}}}", "aip": "{{{aip}}}", "cid": "{{{cid}}}", "event": {"platform": "{{{event_platform}}}", "simpleName": "{{{event_simpleName}}}"}, "id": "{{{id}}}", "name": "{{{name}}}", "timestamp": "{{{timestamp}}}"}
