{"event_simpleName": "WmiFilterConsumerBindingEtw", "WmiFilterQuery": "{{{WmiFilterQuery}}}", "WmiFilterName": "{{{WmiFilterName}}}", "UserName": "{{{UserName}}}", "ConfigStateHash": "{{{ConfigStateHash}}}", "WmiFilterQueryLanguage": "{{{WmiFilterQueryLanguage}}}", "aip": "{{{aip}}}", "WmiConsumerType": "{{{WmiConsumerType}}}", "ConfigBuild": "{{{ConfigBuild}}}", "event_platform": "{{{event_platform}}}", "WmiConsumerName": "{{{WmiConsumerName}}}", "PatternId": "{{{PatternId}}}", "ClientComputerName": "{{{ClientComputerName}}}", "Entitlements": "{{{Entitlements}}}", "name": "WmiFilterConsumerBindingEtwV2", "id": "{{{id}}}", "EffectiveTransmissionClass": "{{{EffectiveTransmissionClass}}}", "aid": "{{{aid}}}", "WmiFilterType": "{{{WmiFilterType}}}", "timestamp": "{{{timestamp}}}", "cid": "{{{cid}}}"}
