{"LogicalServerName": "{{{LogicalServerName}}}", "ResourceGroup": "{{{ResourceGroup}}}", "SubscriptionId": "{{{SubscriptionId}}}", "category": "{{{category}}}", "operationName": "{{{operationName}}}", "properties": {"DatabaseActualMode": "{{{properties_DatabaseActualMode}}}", "DatabaseDesiredMode": "{{{properties_DatabaseDesiredMode}}}", "DatabaseName": "{{{properties_DatabaseName}}}", "IsDisabledBySystem": "{{{properties_IsDisabledBySystem}}}", "OptionActualState": "{{{properties_OptionActualState}}}", "OptionDesiredState": "{{{properties_OptionDesiredState}}}", "OptionDisableReason": "{{{properties_OptionDisableReason}}}", "OptionName": "{{{properties_OptionName}}}"}, "resourceId": "{{{resourceId}}}", "time": "{{{time}}}"}
