{"LogicalServerName": "{{{LogicalServerName}}}", "ResourceGroup": "{{{ResourceGroup}}}", "SubscriptionId": "{{{SubscriptionId}}}", "category": "{{{category}}}", "operationName": "{{{operationName}}}", "properties": {"SKU": "{{{properties_SKU}}}", "avg": {"cpu": {"percent": "{{{properties_avg_cpu_percent}}}"}}, "io": {"bytes": {"read": "{{{properties_io_bytes_read}}}", "written": "{{{properties_io_bytes_written}}}"}, "requests": "{{{properties_io_requests}}}"}, "reserved": {"storage": {"mb": "{{{properties_reserved_storage_mb}}}"}}, "storage": {"space": {"used": {"mb": "{{{properties_storage_space_used_mb}}}"}}}, "virtual": {"core": {"count": "{{{properties_virtual_core_count}}}"}}}, "resourceId": "{{{resourceId}}}", "time": "{{{time}}}"}
