{'EventTime': '%Y-%m-%d %H:%M:%S', 'Hostname': '{{{Hostname}}}', 'Keywords': '{{{Keywords}}}', 'EventType': '{{{EventType}}}', 'SeverityValue': '{{{SeverityValue}}}', 'Severity': '{{{Severity}}}', 'EventID': 300, 'SourceName': 'Microsoft-Windows-DeviceSetupManager', 'ProviderGuid': '{{{ProviderGuid}}}', 'Version': '{{{Version}}}', 'Task': '{{{Task}}}', 'OpcodeValue': '{{{OpcodeValue}}}', 'RecordNumber': '{{{RecordNumber}}}', 'ProcessID': '{{{ProcessID}}}', 'ThreadID': '{{{ThreadID}}}', 'Channel': '{{{Channel}}}', 'Domain': '{{{Domain}}}', 'AccountName': '{{{AccountName}}}', 'UserID': '{{{UserID}}}', 'AccountType': '{{{AccountType}}}', 'Message': "The device container '{9770AC49-B05F-4DD2-9AB2-E5896DE8D2CF}' has entered the ready sta", 'Prop_ContainerId': '{{{Prop_ContainerId}}}', 'EventReceivedTime': '%Y-%m-%d %H:%M:%S', 'SourceModuleName': '{{{SourceModuleName}}}', 'SourceModuleType': '{{{SourceModuleType}}}'}
