{
  "type": "endpoint.event.netconn",
  "process_guid": "{{{process_guid}}}",
  "parent_guid": "{{{parent_guid}}}",
  "backend_timestamp": "{{{backend_timestamp}}}",
  "org_key": "{{{org_key}}}",
  "device_id": "{{{device_id}}}",
  "device_name": "{{{device_name}}}",
  "device_external_ip": "{{{device_external_ip}}}",
  "device_os": "{{{device_os}}}",
  "device_group": "{{{device_group}}}",
  "action": "ACTION_CONNECTION_CREATE_FAILED",
  "schema": {{{schema}}},
  "event_description": "{{{event_description}}}",
  "alert_id": "{{{alert_id}}}",
  "event_id": "{{{event_id}}}",
  "device_timestamp": "{{{device_timestamp}}}",
  "process_terminated": {{{process_terminated}}},
  "process_reputation": "{{{process_reputation}}}",
  "parent_repuation": "{{{parent_repuation}}}",
  "process_pid": {{{process_pid}}},
  "parent_pid": {{{parent_pid}}},
  "process_publisher": [
    {
      "state": "{{{process_publisher_state}}}"
    }
  ],
  "process_path": "{{{process_path}}}",
  "parent_path": "{{{parent_path}}}",
  "process_hash": [
    "{{{process_hash_md5}}}",
    "{{{process_hash_sha256}}}"
  ],
  "parent_hash": [
    "{{{parent_hash_md5}}}",
    "{{{parent_hash_sha256}}}"
  ],
  "process_cmdline": "{{{process_cmdline}}}",
  "parent_cmdline": "{{{parent_cmdline}}}",
  "process_username": "{{{process_username}}}",
  "sensor_action": "{{{sensor_action}}}",
  "event_origin": "{{{event_origin}}}",
  "remote_port": {{{remote_port}}},
  "remote_ip": "{{{remote_ip}}}",
  "local_port": {{{local_port}}},
  "local_ip": "{{{local_ip}}}",
  "netconn_domain": "{{{netconn_domain}}}",
  "netconn_inbound": {{{netconn_inbound}}},
  "netconn_protocol": "{{{netconn_protocol}}}"
}
